FORMAT: 1A
HOST: http://vgidb.me/api

# VGIDB

VGIDB_API is an API allowing users to access information about their favorite platform, character, or game.

## Game by ID [/games/{id}]

+ Parameters
    + id (number) - ID of the game in the form of an integer
    
### View Game Example [GET]

+ Response 200 (application/json)

        [
            {
              "aliases": "Desert Strike Advance", 
              "character": null, 
              "description": "<h2>Overview</h2><p>Desert Strike: Return to the Gulf is an isometric helicopter shoot 'em up from Electronic Arts. The player is a fighter pilot who must take down mission-critical targets across a number of maps. The player is free to pursue these missions in any order, and must also keep an eye on the fuel, damage, and ammo gauges.</p><p>Desert Strike is the first of the prolific <a href=\"/strike-series/3025-143/\" data-ref-id=\"3025-143\">Strike</a> series, and was followed with <a href=\"/jungle-strike/3030-2180/\" data-ref-id=\"3030-2180\">Jungle Strike</a> and <a href=\"/urban-strike/3030-9336/\" data-ref-id=\"3030-9336\">Urban Strike</a> on the Genesis. Two more games, <a href=\"/soviet-strike/3030-2422/\" data-ref-id=\"3030-2422\">Soviet Strike</a> and <a href=\"/nuclear-strike/3030-11731/\" data-ref-id=\"3030-11731\">Nuclear Strike</a>, were released later for 32-bit systems.</p><h2>Story</h2><p>A year after the Gulf War, General Ibn Kilbaba takes over a small <a href=\"/unnamed-middle-eastern-location/3035-179/\" data-ref-id=\"3035-179\">Arab emirate</a> and plans to start World War III. Using an <a href=\"/ah-64-apache/3055-2463/\" data-ref-id=\"3055-2463\">AH-64 Apache</a>, the player must open the way for ground troops and finally take on the \"Madman\" himself.</p><h2>Gameplay</h2><p>The game is played from an isometric perspective in open levels that allow free movement in all directions by scrolling the screen with the movement of the helicopter. Each level consists of many varying objectives that range anywhere from destroying enemy bases and vehicles to capturing enemy troops or rescuing friendly ones. While bases and vehicles are simply destroyed, both friendly and enemy troops must be taken back to base for extraction. The AH-64 Apache has limited cargo space, so multiple trips to and from the base may be necessary. These objectives aren't always linear, and can often be tackled in whatever order the player chooses. This combination of free movement and non-linear structure separated Desert Strike from many of the other contemporary shooters.</p><p>There are three weapons of varying strength and usefulness available to the AH-64 Apache: machine guns, hydra missiles, and hellfire missiles, which increase in strength respectively. Each of these weapons has a limited number of ammo which can only be replenished by picking up ammo crates on the mission or by resupplying back at the base. Similarly, the AH-64 Apache only has a limited amount of fuel that will drain slowly over the course of each level. If the fuel runs out, the helicopter crashes and the player loses a life. Refueling works exactly the same as restocking ammo.</p><p>Lives are lost when either the AH-64 Apache takes too much damage and is destroyed, or when it runs out of fuel. After three lives have been lost, the game is over. Due to the nature of the game's freedom, each level requires a certain amount of planning and strategy in order to complete all of the objectives while still having enough fuel, ammo, and health to survive.</p><h2>Ports</h2><p>Due to its popularity on the <a href=\"/sega-genesis/3055-4659/\" data-ref-id=\"3055-4659\">Sega Genesis</a> in 1992, the game was then ported to the <a href=\"/amiga/3045-1/\" data-ref-id=\"3045-1\">Amiga</a>, <a href=\"/sega-master-system/3045-8/\" data-ref-id=\"3045-8\">Master System</a>, and <a href=\"/snes/3045-9/\" data-ref-id=\"3045-9\">SNES</a> in the same year. Two years later in 1994, it was released on the <a href=\"/pc/3045-94/\" data-ref-id=\"3045-94\">PC</a>. It was also ported to most handheld systems such as the <a href=\"/lynx/3045-7/\" data-ref-id=\"3045-7\">Lynx</a> in 1993, <a href=\"/game-gear/3045-5/\" data-ref-id=\"3045-5\">Game Gear</a> in 1994, <a href=\"/game-boy/3045-3/\" data-ref-id=\"3045-3\">Game Boy</a> in 1995, <a href=\"/game-boy-advance/3045-4/\" data-ref-id=\"3045-4\">Game Boy Advance</a> in 2002, and finally the <a href=\"/psp/3045-18/\" data-ref-id=\"3045-18\">PSP</a> in 2006 as part of <a href=\"/ea-replay/3030-10965/\" data-ref-id=\"3030-10965\">EA Replay</a>.</p>", 
              "id": 1, 
              "medium_image": "http://www.giantbomb.com/api/image/scale_medium/2370498-genesis_desertstrike_2__1_.jpg", 
              "name": "Desert Strike: Return to the Gulf", 
              "platforms": [
                1, 
                3, 
                4, 
                5, 
                6, 
                7, 
                8, 
                9, 
                94
              ], 
              "release_date": "1992-02-29 00:00:00", 
              "site_detail_url": "http://www.giantbomb.com/desert-strike-return-to-the-gulf/3030-1/", 
              "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2370498-genesis_desertstrike_2__1_.jpg"
            }
        ]

## Games by page [/games/offset/{offset}]

+ Parameters
    + offset (number) - the page number, starting at 1

### View Game Page Example [GET]

+ Response 200 (application/json)

        [
            {
              "Aisle": {
                "aliases": null, 
                "characters": null, 
                "name": "Aisle", 
                "release_date": "1999-05-28 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/709534-aisle_by_sam_barlow.jpg"
              }, 
              "Bass Avenger": {
                "aliases": null, 
                "characters": null, 
                "name": "Bass Avenger", 
                "release_date": "2000-09-28 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/707238-bass_avenger.jpg"
              }, 
              "Blade & Sword": {
                "aliases": null, 
                "characters": null, 
                "name": "Blade & Sword", 
                "release_date": "2003-12-22 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/707774-blade_and_sword.jpg"
              }, 
              "Breakfree": {
                "aliases": null, 
                "characters": null, 
                "name": "Breakfree", 
                "release_date": "1995-12-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/621001-1056454795_00.gif"
              }, 
              "Burntime": {
                "aliases": null, 
                "characters": null, 
                "name": "Burntime", 
                "release_date": "1993-12-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/723295-23343_boxshot_1.jpg"
              }, 
              "Camelot Warriors": {
                "aliases": null, 
                "characters": null, 
                "name": "Camelot Warriors", 
                "release_date": null, 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/707280-camelot_warriors_spectrum.jpg"
              }, 
              "Desert Strike: Return to the Gulf": {
                "aliases": "Desert Strike Advance", 
                "characters": null, 
                "name": "Desert Strike: Return to the Gulf", 
                "release_date": "1992-02-29 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2370498-genesis_desertstrike_2__1_.jpg"
              }, 
              "Dragon's Lair": {
                "aliases": "Dragon's Magic", 
                "characters": "741", 
                "name": "Dragon's Lair", 
                "release_date": "1983-07-01 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/213636-dragon_s_lair.jpg"
              }, 
              "EGA-Roids": {
                "aliases": null, 
                "characters": null, 
                "name": "EGA-Roids", 
                "release_date": "1986-12-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/709420-egaroids_000.png"
              }, 
              "Fritz 9: Play Chess": {
                "aliases": null, 
                "characters": null, 
                "name": "Fritz 9: Play Chess", 
                "release_date": "2005-12-15 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/707365-fritz_9_play_chess.jpg"
              }, 
              "Gothmog's Lair": {
                "aliases": null, 
                "characters": null, 
                "name": "Gothmog's Lair", 
                "release_date": "1983-12-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/707629-gothmog_s_lair.jpg"
              }, 
              "Hyperballoid Deluxe: Survival Pack": {
                "aliases": null, 
                "characters": null, 
                "name": "Hyperballoid Deluxe: Survival Pack", 
                "release_date": "2004-12-20 00:00:00", 
                "tiny_image": null
              }, 
              "Kampfgruppe": {
                "aliases": null, 
                "characters": null, 
                "name": "Kampfgruppe", 
                "release_date": "1985-12-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/709028-kampfgruppe_2.jpg"
              }, 
              "Land of Legends": {
                "aliases": null, 
                "characters": null, 
                "name": "Land of Legends", 
                "release_date": "2005-09-25 00:00:00", 
                "tiny_image": null
              }, 
              "Mary-Kate and Ashley: Sweet 16: Licensed to Drive": {
                "aliases": null, 
                "characters": null, 
                "name": "Mary-Kate and Ashley: Sweet 16: Licensed to Drive", 
                "release_date": "2002-11-20 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1242453-sweet.jpg"
              }, 
              "Metal Slug X: Super Vehicle - 001": {
                "aliases": null, 
                "characters": null, 
                "name": "Metal Slug X: Super Vehicle - 001", 
                "release_date": "1999-03-18 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/969857-metal_slug_x_ng_us.jpg"
              }, 
              "Premier Manager 98": {
                "aliases": null, 
                "characters": null, 
                "name": "Premier Manager 98", 
                "release_date": "1998-07-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2743212-premier%20manager%2098%20playstation%20uk%20front.jpg"
              }, 
              "Rocky Racers": {
                "aliases": null, 
                "characters": null, 
                "name": "Rocky Racers", 
                "release_date": null, 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/890529-kombat_kars_gameplay.jpg"
              }, 
              "Skramble": {
                "aliases": null, 
                "characters": null, 
                "name": "Skramble", 
                "release_date": "1983-12-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1355067-temp.jpg"
              }, 
              "Sportfischen Professional": {
                "aliases": null, 
                "characters": null, 
                "name": "Sportfischen Professional", 
                "release_date": "2005-10-18 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/709520-sportfischen_professional.jpg"
              }, 
              "Super Spy Hunter": {
                "aliases": "Battle Formula", 
                "characters": null, 
                "name": "Super Spy Hunter", 
                "release_date": "1991-09-27 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2362280-nes_superspyhunter_eu.jpg"
              }, 
              "The Chessmaster 2000": {
                "aliases": null, 
                "characters": null, 
                "name": "The Chessmaster 2000", 
                "release_date": "1986-06-15 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/706919-chessmaster_2000.jpg"
              }, 
              "The Real Deal 2": {
                "aliases": null, 
                "characters": null, 
                "name": "The Real Deal 2", 
                "release_date": "1999-12-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/707495-the_real_deal_2.jpg"
              }, 
              "The X-Files Game": {
                "aliases": null, 
                "characters": null, 
                "name": "The X-Files Game", 
                "release_date": "1998-05-31 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/522345-xfiles_game_cover.jpg"
              }, 
              "WWE SmackDown! vs. RAW 2007": {
                "aliases": "SVR 2007", 
                "characters": "591", 
                "name": "WWE SmackDown! vs. RAW 2007", 
                "release_date": "2006-11-14 00:00:00", 
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2139899-box_wwesdraw07.png"
              }
            }
        ]
        
## Platform by ID [/platforms/{id}]

+ Parameters
    + id (number) - ID of the platform in the form of an integer
    

### View Platform Example [GET]

+ Response 200 (application/json)

        [
            {
                "abbreviations": "AMI",
                "company": "Commodore Electronics Ltd.",
                "description": "<h2>Overview</h2><p>The first Amiga computer model, the A1000, was released in 1985 by <a href=\"/commodore/3010-2000/\" data-ref-id=\"3010-2000\">Commodore Inc.</a></p><p>The design team was headed up by Jay Miner and development of the system began in 1982 under the Amiga Corporation company. Commodore acquired Amiga Corporation in the summer of 1984, snatching the Amiga chipset from under the nose of <a href=\"/atari/3010-182/\" data-ref-id=\"3010-182\">Atari</a>, who originally funded the project. Commodore filed for bankruptcy in 1994, despite the success of the A1200 and CD32.</p><h2>Hardware</h2><p>The Amiga range was based on the Motorola 68000 chipset, but made use of proprietary graphics and sound co-processors (codenamed Denise and Paula respectively), which took the load off of the CPU and allowed the Amiga to process more than just gaming graphics extremely efficiently. The Amiga revolutionized video production, providing an affordable CG solution with the <a href=\"http://www.newtek.com\" rel=\"nofollow\" data-ref-id=\"false\">Newtek</a> Video Toaster (which later evolved into the Newtek TriCaster, the core of Giant Bomb's video production). It was the first consumer grade computer to be able to sample and record stereo audio in 44.1khz (CD quality) at the time. Over the lifetime of the computer, three graphics and sound chipsets were used: OCS (Original ChipSet), ECS (Enhanced ChipSet) and AGA (Advanced Graphics Architecture).</p><h2>Models</h2><table><thead><tr><th scope=\"col\">Released</th><th scope=\"col\">Model</th><th scope=\"col\">Codename</th><th scope=\"col\">Chipset</th><th scope=\"col\">Memory</th><th scope=\"col\">Kickstarter</th><th scope=\"col\">Variants</th><th scope=\"col\">Colours</th></tr></thead><tbody><tr><td><p>July 23 1985</p></td><td><p><strong>Amiga 1000</strong></p></td><td>Lorraine</td><td><p>OCS</p></td><td><p>256k onboard, upgradable to 512k</p></td><td><p>v1.0 - v1.3, on floppy disc</p></td><td> </td><td><p>32 on screen,</p><p>4096 palette</p></td></tr><tr><td><p>March 1987</p></td><td><p><strong>Amiga 2000</strong></p></td><td><p>The Boss</p></td><td><p>OCS</p></td><td><p>1MB onboard, upgradable to 8MB</p></td><td><p>v1.3 or v2.0, in ROM</p></td><td><p><strong>A1500</strong> - UK only, second floppy instead of hard drive</p><p><strong>A2000C </strong>- ECS variant</p><p><strong>A2500 </strong>- Pro variant with 68030 CPU \"accelerator\"</p></td><td><p>64 on screen,</p><p>4096 palette</p></td></tr><tr><td><p>October 1987</p></td><td><p><strong>Amiga 500</strong></p></td><td><p>Rock Lobster</p></td><td><p>OCS</p></td><td><p>512k onboard, upgradable to 1MB</p></td><td><p>v1.2 or v1.3, in ROM</p></td><td><p><strong>A500+</strong> - ECS, v2.04, 1MB RAM</p><p><strong>CDTV</strong> - Hi-fi case and CD-ROM, based on A500+</p></td><td><p>64 on screen,</p><p>4096 palette</p></td></tr><tr><td><p>June 1990</p></td><td><p><strong>Amiga 3000</strong></p></td><td><p>B2</p></td><td><p>ECS</p></td><td><p>2MB onboard, upgradable to 16MB</p></td><td><p>v1.3 or v2.0, in ROM</p></td><td><p><strong>A3000UX</strong> - bundled with Unix</p><p><strong>A3000T</strong> - tower variant</p></td><td><p>256 on screen,</p><p>4096 palette</p></td></tr><tr><td><p>March 1992</p></td><td><p><strong>Amiga 600</strong></p></td><td><p>Junebug</p></td><td><p>ECS</p></td><td><p>1MB onboard, upgradable to 2MB</p></td><td><p>v2.05, in ROM</p></td><td><p><strong>A600HD</strong> - included 20MB or 40MB hard drive</p></td><td><p>64 on screen,</p><p>4096 palette</p></td></tr><tr><td><p>September 1992</p></td><td><p><strong>Amiga 4000</strong></p></td><td><p>Pandora</p></td><td><p>AGA</p></td><td><p>2MB onboard, upgradable to 16MB</p></td><td><p>v3.0, in ROM</p></td><td><p><strong>A4000T</strong> - Tower case, 68040 CPU</p></td><td><p>4096 on screen,</p><p>262,144 palette</p></td></tr><tr><td><p>October 1992</p></td><td><p><strong>Amiga 1200</strong></p></td><td><p>Channel Z</p></td><td><p>AGA</p></td><td><p>2MB onboard, upgradable to 8MB</p></td><td><p>v3.0, in ROM</p></td><td><p><strong>CD32</strong> - Console variant. CD-ROM, no keyboard, no floppy disk drive, no upgradable RAM (codename \"Spellbound\")</p></td><td><p><span>4096 on screen,</span></p><p>262,144 palette</p></td></tr></tbody></table><h2>Operating System</h2><p><b>AmigaOS </b></p><p>The AmigaOS originally was split into two parts, the <em>Kickstarter</em> and the <em>Workbench</em>.</p><p>The Amiga 1000 required a Kickstarter disc to boot before any other disc could be loaded. The benefits of this were easy OS upgrades (v1.0-1.3), however it also provided an easy vector for the first Amiga viruses to spread. The Amiga 500 onwards stored the Kickstarter (v1.2+) in ROM, thereby eliminating the need for an initial disc boot.</p><p>The Workbench was an optional windowing system and file manager, similar to Mac OS or Windows. Unlike those systems, games could launch at boot instead of the Workbench in order to give them larger access to system resources.</p>",
                "games": [
                    1,
                    4,
                    15,
                    20,
                    23,
                    30,
                    70,
                    78,
                    80,
                    85,
                    87,
                    88,
                    101,
                    109,
                    118,
                    139,
                    140,
                    143,
                    149,
                    152,
                    161,
                    176,
                    185,
                    196,
                    208,
                    220,
                    226,
                    233,
                    239,
                    243,
                    250,
                    257,
                    276,
                    281,
                    283,
                    289,
                    291,
                    295,
                    297,
                    300,
                    307,
                    317,
                    326,
                    331,
                    342,
                    346,
                    359,
                    364,
                    388,
                    390,
                    392,
                    397,
                    402,
                    405,
                    409,
                    410,
                    416,
                    420,
                    436,
                    438,
                    460,
                    463,
                    471,
                    501,
                    504,
                    511,
                    514,
                    532,
                    539,
                    543,
                    556,
                    568,
                    583,
                    600,
                    601,
                    604,
                    626,
                    627,
                    646,
                    648,
                    650,
                    668,
                    675,
                    697,
                    726,
                    739,
                    764,
                    774,
                    780,
                    794,
                    826,
                    843,
                    852,
                    861,
                    864,
                    869,
                    873,
                    892,
                    896,
                    903,
                    911,
                    925,
                    936,
                    942,
                    947,
                    948,
                    949,
                    958,
                    974,
                    998,
                    1003,
                    1015,
                    1024,
                    1044,
                    1061,
                    1062,
                    1064,
                    1066,
                    1067,
                    1089,
                    1090,
                    1092,
                    1094,
                    1107,
                    1110,
                    1114,
                    1136,
                    1144,
                    1154,
                    1155,
                    1158,
                    1161,
                    1166,
                    1170,
                    1172,
                    1180,
                    1186,
                    1195,
                    1199,
                    1200,
                    1203,
                    1210,
                    1212,
                    1225,
                    1230,
                    1235,
                    1251,
                    1252,
                    1256,
                    1261,
                    1265,
                    1276,
                    1289,
                    1305,
                    1313,
                    1332,
                    1344,
                    1350,
                    1351,
                    1357,
                    1366,
                    1371,
                    1388,
                    1415,
                    1428,
                    1431,
                    1441,
                    1445,
                    1446,
                    1447,
                    1500,
                    1514,
                    1515,
                    1516,
                    1528,
                    1533,
                    1551,
                    1555,
                    1562,
                    1568,
                    1583,
                    1611,
                    1618,
                    1619,
                    1654,
                    1655,
                    1659,
                    1664,
                    1670,
                    1680,
                    1686,
                    1697,
                    1698,
                    1725,
                    1726,
                    1731,
                    1736,
                    1743,
                    1748,
                    1792,
                    1793,
                    1809,
                    1852,
                    1856,
                    1864,
                    1865,
                    1874,
                    1896,
                    1919,
                    1941,
                    1967,
                    1968,
                    1970,
                    1972,
                    1981,
                    2007,
                    2009,
                    2027,
                    2031,
                    2037,
                    2049,
                    2073,
                    2074,
                    2093,
                    2104,
                    2105,
                    2124,
                    2125,
                    2129,
                    2139,
                    2140,
                    2143,
                    2148,
                    2163,
                    2180,
                    2193,
                    2208,
                    2220,
                    2223,
                    2228,
                    2239,
                    2240,
                    2246,
                    2265,
                    2273,
                    2277,
                    2287,
                    2304,
                    2309,
                    2314,
                    2319,
                    2323,
                    2330,
                    2332,
                    2333,
                    2336,
                    2340,
                    2344,
                    2350,
                    2371,
                    2377,
                    2380,
                    2418,
                    2431,
                    2448,
                    2458,
                    2459,
                    2469,
                    2474,
                    2486,
                    2487,
                    2490,
                    2509,
                    2517,
                    2527,
                    2536,
                    2556,
                    2560,
                    2561,
                    2563,
                    2568,
                    2584,
                    2596,
                    2617,
                    2621,
                    2627,
                    2631,
                    2633,
                    2636,
                    2642,
                    2658,
                    2662,
                    2675,
                    2699,
                    2701,
                    2702,
                    2704,
                    2707,
                    2708,
                    2710,
                    2712,
                    2713,
                    2759,
                    2762,
                    2763,
                    2765,
                    2770,
                    2779,
                    2780,
                    2782,
                    2786,
                    2790,
                    2820,
                    2848,
                    2865,
                    2883,
                    2896,
                    2898,
                    2912,
                    2913,
                    2920,
                    2925,
                    2934,
                    2941,
                    2977,
                    2983,
                    2984,
                    2994,
                    2996,
                    3019,
                    3025,
                    3036,
                    3045,
                    3052,
                    3060,
                    3081,
                    3082,
                    3088,
                    3092,
                    3097,
                    3101,
                    3106,
                    3123,
                    3126,
                    3128,
                    3134,
                    3146,
                    3155,
                    3158,
                    3163,
                    3187,
                    3191,
                    3193,
                    3205,
                    3207,
                    3209,
                    3222,
                    3223,
                    3231,
                    3250,
                    3253,
                    3270,
                    3274,
                    3283,
                    3306,
                    3307,
                    3308,
                    3312,
                    3328,
                    3334,
                    3338,
                    3350,
                    3353,
                    3356,
                    3357,
                    3362,
                    3367,
                    3373,
                    3377,
                    3380,
                    3406,
                    3409,
                    3412,
                    3414,
                    3418,
                    3421,
                    3431,
                    3442,
                    3447,
                    3454,
                    3456,
                    3476,
                    3480,
                    3482,
                    3511,
                    3516,
                    3539,
                    3561,
                    3571,
                    3581,
                    3607,
                    3608,
                    3609,
                    3610,
                    3613,
                    3620,
                    3624,
                    3627,
                    3629,
                    3633,
                    3654,
                    3673,
                    3688,
                    3698,
                    3709,
                    3713,
                    3714,
                    3716,
                    3717,
                    3718,
                    3725,
                    3750,
                    3786,
                    3787,
                    3789,
                    3790,
                    3802,
                    3813,
                    3817,
                    3842,
                    3862,
                    3863,
                    3868,
                    3888,
                    3896,
                    3898,
                    3936,
                    3942,
                    3950,
                    3957,
                    3961,
                    3970,
                    3974,
                    3987,
                    4000,
                    4003,
                    4016,
                    4020,
                    4021,
                    4023,
                    4028,
                    4033,
                    4034,
                    4040,
                    4042,
                    4053,
                    4060,
                    4066,
                    4069,
                    4078,
                    4087,
                    4091,
                    4095,
                    4106,
                    4113,
                    4115,
                    4119,
                    4122,
                    4129,
                    4146,
                    4156,
                    4175,
                    4180,
                    4187,
                    4193,
                    4221,
                    4226,
                    4233,
                    4243,
                    4263,
                    4269,
                    4274,
                    4292,
                    4306,
                    4324,
                    4334,
                    4336,
                    4340,
                    4341,
                    4343,
                    4365,
                    4378,
                    4385,
                    4395,
                    4406,
                    4410,
                    4416,
                    4417,
                    4421,
                    4447,
                    4454,
                    4457,
                    4468,
                    4487,
                    4490,
                    4494,
                    4507,
                    4531,
                    4534,
                    4558,
                    4572,
                    4573,
                    4574,
                    4575,
                    4587,
                    4599,
                    4610,
                    4612,
                    4613,
                    4616,
                    4617,
                    4630,
                    4648,
                    4650,
                    4664,
                    4668,
                    4688,
                    4704,
                    4709,
                    4716,
                    4719,
                    4772,
                    4796,
                    4798,
                    4805,
                    4811,
                    4816,
                    4818,
                    4828,
                    4847,
                    4853,
                    4854,
                    4855,
                    4869,
                    4879,
                    4880,
                    4903,
                    4907,
                    4920,
                    4925,
                    4932,
                    4940,
                    4944,
                    4951,
                    4963,
                    4990,
                    4995,
                    4996,
                    5000,
                    5008,
                    5024,
                    5045,
                    5049,
                    5068,
                    5072,
                    5078,
                    5080,
                    5084,
                    5097,
                    5106,
                    5108,
                    5121,
                    5125,
                    5127,
                    5131,
                    5146,
                    5156,
                    5172,
                    5189,
                    5195,
                    5198,
                    5202,
                    5207,
                    5230,
                    5241,
                    5245,
                    5253,
                    5264,
                    5267,
                    5268,
                    5271,
                    5286,
                    5288,
                    5298,
                    5316,
                    5329,
                    5331,
                    5334,
                    5335,
                    5367,
                    5375,
                    5379,
                    5386,
                    5393,
                    5401,
                    5429,
                    5431,
                    5433,
                    5434,
                    5435,
                    5442,
                    5498,
                    5507,
                    5514,
                    5516,
                    5524,
                    5543,
                    5547,
                    5562,
                    5569,
                    5578,
                    5582,
                    5591,
                    5603,
                    5608,
                    5615,
                    5623,
                    5626,
                    5627,
                    5630,
                    5653,
                    5667,
                    5671,
                    5677,
                    5678,
                    5694,
                    5696,
                    5698,
                    5717,
                    5723,
                    5740,
                    5743,
                    5744,
                    5757,
                    5762,
                    5771,
                    5773,
                    5791,
                    5793,
                    5802,
                    5806,
                    5840,
                    5855,
                    5860,
                    5871,
                    5925,
                    5933,
                    5947,
                    5948,
                    5949,
                    5969,
                    5973,
                    5988,
                    5997,
                    6003,
                    6017,
                    6022,
                    6027,
                    6032,
                    6034,
                    6036,
                    6056,
                    6066,
                    6067,
                    6072,
                    6099,
                    6109,
                    6112,
                    6133,
                    6136,
                    6140,
                    6149,
                    6179,
                    6182,
                    6184,
                    6194,
                    6210,
                    6234,
                    6236,
                    6260,
                    6264,
                    6270,
                    6280,
                    6285,
                    6289,
                    6303,
                    6344,
                    6355,
                    6363,
                    6372,
                    6379,
                    6387,
                    6389,
                    6393,
                    6403,
                    6405,
                    6407,
                    6415,
                    6450,
                    6454,
                    6465,
                    6498,
                    6502,
                    6507,
                    6508,
                    6517,
                    6520,
                    6532,
                    6536,
                    6537,
                    6555,
                    6558,
                    6562,
                    6578,
                    6587,
                    6594,
                    6595,
                    6600,
                    6603,
                    6609,
                    6615,
                    6618,
                    6625,
                    6627,
                    6665,
                    6673,
                    6674,
                    6684,
                    6686,
                    6701,
                    6722,
                    6726,
                    6728,
                    6732,
                    6740,
                    6745,
                    6748,
                    6754,
                    6760,
                    6765,
                    6767,
                    6770,
                    6771,
                    6772,
                    6774,
                    6776,
                    6791,
                    6799,
                    6813,
                    6816,
                    6837,
                    6850,
                    6852,
                    6858,
                    6865,
                    6896,
                    6899,
                    6900,
                    6920,
                    6947,
                    6949,
                    6950,
                    6958,
                    6973,
                    6981,
                    6987,
                    6990,
                    6994,
                    7029,
                    7046,
                    7056,
                    7068,
                    7089,
                    7103,
                    7114,
                    7117,
                    7118,
                    7122,
                    7145,
                    7147,
                    7150,
                    7170,
                    7181,
                    7196,
                    7201,
                    7217,
                    7227,
                    7243,
                    7251,
                    7253,
                    7258,
                    7283,
                    7304,
                    7320,
                    7332,
                    7347,
                    7354,
                    7359,
                    7362,
                    7370,
                    7373,
                    7374,
                    7397,
                    7405,
                    7414,
                    7426,
                    7428,
                    7429,
                    7438,
                    7440,
                    7445,
                    7463,
                    7465,
                    7479,
                    7494,
                    7496,
                    7529,
                    7565,
                    7599,
                    7605,
                    7621,
                    7622,
                    7626,
                    7629,
                    7639,
                    7652,
                    7655,
                    7660,
                    7672,
                    7680,
                    7681,
                    7688,
                    7695,
                    7714,
                    7720,
                    7722,
                    7724,
                    7729,
                    7737,
                    7748,
                    7758,
                    7768,
                    7783,
                    7784,
                    7806,
                    7813,
                    7817,
                    7828,
                    7837,
                    7853,
                    7875,
                    7889,
                    7897,
                    7899,
                    7906,
                    7909,
                    7916,
                    7937,
                    7944,
                    7947,
                    7948,
                    7955,
                    7957,
                    7968,
                    7970,
                    7985,
                    7996,
                    8015,
                    8016,
                    8024,
                    8038,
                    8044,
                    8066,
                    8075,
                    8076,
                    8080,
                    8091,
                    8101,
                    8110,
                    8119,
                    8133,
                    8148,
                    8156,
                    8157,
                    8171,
                    8181,
                    8186,
                    8196,
                    8204,
                    8205,
                    8229,
                    8235,
                    8248,
                    8251,
                    8296,
                    8308,
                    8318,
                    8320,
                    8328,
                    8343,
                    8345,
                    8356,
                    8359,
                    8360,
                    8384,
                    8385,
                    8389,
                    8412,
                    8413,
                    8414,
                    8418,
                    8472,
                    8481,
                    8482,
                    8498,
                    8506,
                    8524,
                    8526,
                    8537,
                    8539,
                    8540,
                    8541,
                    8557,
                    8560,
                    8561,
                    8575,
                    8582,
                    8589,
                    8592,
                    8594,
                    8599,
                    8602,
                    8604,
                    8618,
                    8633,
                    8643,
                    8653,
                    8655,
                    8665,
                    8671,
                    8704,
                    8707,
                    8729,
                    8749,
                    8771,
                    8780,
                    8783,
                    8787,
                    8796,
                    8806,
                    8818,
                    8836,
                    8838,
                    8856,
                    8859,
                    8876,
                    8877,
                    8879,
                    8884,
                    8896,
                    8914,
                    8919,
                    8938,
                    8943,
                    8949,
                    8965,
                    8966,
                    8967,
                    8977,
                    8986,
                    8993,
                    9008,
                    9014,
                    9028,
                    9045,
                    9068,
                    9070,
                    9074,
                    9081,
                    9083,
                    9093,
                    9100,
                    9120,
                    9125,
                    9131,
                    9136,
                    9144,
                    9150,
                    9167,
                    9186,
                    9194,
                    9208,
                    9218,
                    9230,
                    9244,
                    9261,
                    9270,
                    9274,
                    9276,
                    9299,
                    9308,
                    9322,
                    9323,
                    9335,
                    9374,
                    9377,
                    9392,
                    9404,
                    9405,
                    9434,
                    9442,
                    9444,
                    9456,
                    9474,
                    9475,
                    9495,
                    9509,
                    9511,
                    9519,
                    9526,
                    9527,
                    9531,
                    9537,
                    9548,
                    9554,
                    9564,
                    9565,
                    9566,
                    9570,
                    9571,
                    9575,
                    9587,
                    9604,
                    9612,
                    9625,
                    9627,
                    9642,
                    9646,
                    9648,
                    9656,
                    9675,
                    9678,
                    9683,
                    9688,
                    9695,
                    9707,
                    9710,
                    9714,
                    9728,
                    9731,
                    9732,
                    9737,
                    9748,
                    9763,
                    9767,
                    9770,
                    9775,
                    9777,
                    9782,
                    9800,
                    9807,
                    9815,
                    9823,
                    9830,
                    9844,
                    9845,
                    9847,
                    9848,
                    9894,
                    9902,
                    9946,
                    9947,
                    9973,
                    10012,
                    10016,
                    10017,
                    10022,
                    10023,
                    10025,
                    10027,
                    10028,
                    10030,
                    10032,
                    10054,
                    10055,
                    10069,
                    10072,
                    10076,
                    10077,
                    10094,
                    10103,
                    10116,
                    10117,
                    10141,
                    10143,
                    10155,
                    10159,
                    10175,
                    10179,
                    10188,
                    10197,
                    10261,
                    10272,
                    10274,
                    10283,
                    10289,
                    10290,
                    10292,
                    10295,
                    10300,
                    10309,
                    10310,
                    10312,
                    10346,
                    10353,
                    10360,
                    10390,
                    10404,
                    10407,
                    10424,
                    10427,
                    10460,
                    10464,
                    10478,
                    10491,
                    10492,
                    10495,
                    10496,
                    10528,
                    10535,
                    10540,
                    10545,
                    10559,
                    10562,
                    10564,
                    10567,
                    10587,
                    10590,
                    10602,
                    10625,
                    10640,
                    10664,
                    10668,
                    10704,
                    10729,
                    10764,
                    10794,
                    10795,
                    10799,
                    10804,
                    10818,
                    10834,
                    10849,
                    10855,
                    10865,
                    10867,
                    10868,
                    10871,
                    10892,
                    10902,
                    10915,
                    10921,
                    10927,
                    10933,
                    10934,
                    10939,
                    10941,
                    10945,
                    10959,
                    10987,
                    10992,
                    11015,
                    11030,
                    11031,
                    11035,
                    11058,
                    11061,
                    11062,
                    11063,
                    11064,
                    11071,
                    11073,
                    11076,
                    11088,
                    11096,
                    11108,
                    11112,
                    11117,
                    11125,
                    11132,
                    11134,
                    11149,
                    11160,
                    11234,
                    11240,
                    11249,
                    11258,
                    11260,
                    11268,
                    11299,
                    11302,
                    11315,
                    11320,
                    11336,
                    11338,
                    11341,
                    11344,
                    11348,
                    11355,
                    11378,
                    11384,
                    11389,
                    11399,
                    11409,
                    11446,
                    11453,
                    11460,
                    11465,
                    11472,
                    11484,
                    11499,
                    11508,
                    11516,
                    11519,
                    11528,
                    11533,
                    11542,
                    11543,
                    11551,
                    11559,
                    11562,
                    11565,
                    11567,
                    11576,
                    11580,
                    11601,
                    11605,
                    11608,
                    11609,
                    11614,
                    11616,
                    11630,
                    11638,
                    11639,
                    11648,
                    11650,
                    11655,
                    11665,
                    11666,
                    11672,
                    11674,
                    11685,
                    11699,
                    11712,
                    11738,
                    11741,
                    11746,
                    11766,
                    11767,
                    11776,
                    11781,
                    11797,
                    11801,
                    11808,
                    11817,
                    11851,
                    11854,
                    11861,
                    11869,
                    11879,
                    11919,
                    11920,
                    11946,
                    11948,
                    11954,
                    11971,
                    11974,
                    11977,
                    11989,
                    11995,
                    12000,
                    12019,
                    12022,
                    12026,
                    12035,
                    12044,
                    12046,
                    12049,
                    12075,
                    12076,
                    12084,
                    12104,
                    12114,
                    12121,
                    12123,
                    12133,
                    12152,
                    12170,
                    12183,
                    12187,
                    12205,
                    12211,
                    12212,
                    12214,
                    12224,
                    12232,
                    12237,
                    12249,
                    12260,
                    12310,
                    12321,
                    12322,
                    12347,
                    12353,
                    12357,
                    12358,
                    12381,
                    12399,
                    12403,
                    12408,
                    12416,
                    12420,
                    12432,
                    12448,
                    12450,
                    12452,
                    12464,
                    12467,
                    12508,
                    12509,
                    12510,
                    12516,
                    12524,
                    12528,
                    12530,
                    12548,
                    12549,
                    12554,
                    12557,
                    12559,
                    12584,
                    12590,
                    12607,
                    12616,
                    12630,
                    12652,
                    12661,
                    12662,
                    12680,
                    12695,
                    12711,
                    12712,
                    12741,
                    12742,
                    12769,
                    12792,
                    12796,
                    12806,
                    12840,
                    12854,
                    12900,
                    12910,
                    12918,
                    12919,
                    12922,
                    12936,
                    12965,
                    12980,
                    12989,
                    12997,
                    13031,
                    13039,
                    13058,
                    13060,
                    13063,
                    13071,
                    13077,
                    13092,
                    13095,
                    13100,
                    13122,
                    13136,
                    13145,
                    13157,
                    13167,
                    13192,
                    13215,
                    13231,
                    13237,
                    13240,
                    13244,
                    13249,
                    13251,
                    13254,
                    13256,
                    13261,
                    13277,
                    13281,
                    13302,
                    13309,
                    13315,
                    13319,
                    13337,
                    13348,
                    13350,
                    13356,
                    13361,
                    13382,
                    13389,
                    13403,
                    13406,
                    13409,
                    13417,
                    13422,
                    13458,
                    13459,
                    13496,
                    13498,
                    13508,
                    13522,
                    13548,
                    13553,
                    13564,
                    13578,
                    13589,
                    13605,
                    13606,
                    13607,
                    13610,
                    13622,
                    13627,
                    13635,
                    13648,
                    13660,
                    13661,
                    13673,
                    13687,
                    13696,
                    13698,
                    13711,
                    13742,
                    13745,
                    13752,
                    13760,
                    13768,
                    13770,
                    13778,
                    13783,
                    13793,
                    13800,
                    13816,
                    13818,
                    13826,
                    13827,
                    13840,
                    13854,
                    13868,
                    13881,
                    13903,
                    13910,
                    13913,
                    13928,
                    13929,
                    13934,
                    13949,
                    13950,
                    13957,
                    13963,
                    13969,
                    13987,
                    13994,
                    14012,
                    14014,
                    14017,
                    14023,
                    14027,
                    14028,
                    14032,
                    14047,
                    14071,
                    14076,
                    14078,
                    14087,
                    14088,
                    14103,
                    14112,
                    14144,
                    14195,
                    14197,
                    14205,
                    14220,
                    14232,
                    14234,
                    14236,
                    14238,
                    14243,
                    14246,
                    14250,
                    14252,
                    14270,
                    14271,
                    14280,
                    14297,
                    14305,
                    14324,
                    14338,
                    14339,
                    14351,
                    14356,
                    14381,
                    14386,
                    14408,
                    14410,
                    14417,
                    14435,
                    14449,
                    14456,
                    14461,
                    14476,
                    14477,
                    14490,
                    14511,
                    14531,
                    14554,
                    14568,
                    14574,
                    14576,
                    14584,
                    14585,
                    14599,
                    14609,
                    14610,
                    14612,
                    14613,
                    14627,
                    14636,
                    14652,
                    14653,
                    14674,
                    14677,
                    14678,
                    14696,
                    14740,
                    14748,
                    14750,
                    14765,
                    14773,
                    14801,
                    14813,
                    14822,
                    14826,
                    14838,
                    14861,
                    14866,
                    14869,
                    14886,
                    14893,
                    14920,
                    14930,
                    14934,
                    14940,
                    14943,
                    14949,
                    14954,
                    14962,
                    14964,
                    14967,
                    14983,
                    14991,
                    15035,
                    15040,
                    15042,
                    15059,
                    15077,
                    15092,
                    15107,
                    15118,
                    15123,
                    15138,
                    15139,
                    15144,
                    15149,
                    15167,
                    15171,
                    15176,
                    15188,
                    15191,
                    15201,
                    15224,
                    15229,
                    15233,
                    15236,
                    15260,
                    15265,
                    15269,
                    15283,
                    15293,
                    15306,
                    15320,
                    15359,
                    15363,
                    15372,
                    15374,
                    15378,
                    15385,
                    15395,
                    15396,
                    15461,
                    15463,
                    15494,
                    15520,
                    15539,
                    15557,
                    15575,
                    15621,
                    15625,
                    15637,
                    15640,
                    15674,
                    15685,
                    15705,
                    15724,
                    15727,
                    15730,
                    15732,
                    15735,
                    15743,
                    15771,
                    15787,
                    15794,
                    15809,
                    15829,
                    15833,
                    15836,
                    15839,
                    15842,
                    15852,
                    15853,
                    15874,
                    15875,
                    15880,
                    15887,
                    15894,
                    15911,
                    15918,
                    15940,
                    15946,
                    15968,
                    15973,
                    15975,
                    16002,
                    16005,
                    16007,
                    16032,
                    16034,
                    16039,
                    16044,
                    16065,
                    16066,
                    16071,
                    16082,
                    16085,
                    16095,
                    16096,
                    16098,
                    16107,
                    16109,
                    16142,
                    16146,
                    16155,
                    16159,
                    16160,
                    16161,
                    16163,
                    16167,
                    16169,
                    16194,
                    16216,
                    16217,
                    16227,
                    16236,
                    16240,
                    16242,
                    16243,
                    16250,
                    16267,
                    16268,
                    16291,
                    16310,
                    16329,
                    16330,
                    16358,
                    16376,
                    16384,
                    16394,
                    16397,
                    16440,
                    16452,
                    16455,
                    16456,
                    16471,
                    16488,
                    16493,
                    16496,
                    16501,
                    16510,
                    16516,
                    16530,
                    16532,
                    16566,
                    16575,
                    16576,
                    16584,
                    16593,
                    16621,
                    16642,
                    16659,
                    16666,
                    16676,
                    16704,
                    16709,
                    16710,
                    16734,
                    16762,
                    16765,
                    16767,
                    16771,
                    16777,
                    16799,
                    16802,
                    16813,
                    16817,
                    16818,
                    16819,
                    16832,
                    16837,
                    16838,
                    16843,
                    16847,
                    16860,
                    16865,
                    16868,
                    16878,
                    16888,
                    16898,
                    16899,
                    16918,
                    16939,
                    16943,
                    16955,
                    16963,
                    16975,
                    16981,
                    16983,
                    16986,
                    16987,
                    16991,
                    16993,
                    16995,
                    17005,
                    17015,
                    17022,
                    17026,
                    17031,
                    17063,
                    17074,
                    17076,
                    17083,
                    17118,
                    17129,
                    17137,
                    17141,
                    17146,
                    17148,
                    17150,
                    17151,
                    17175,
                    17197,
                    17224,
                    17225,
                    17232,
                    17235,
                    17239,
                    17247,
                    17249,
                    17267,
                    17281,
                    17284,
                    17307,
                    17325,
                    17332,
                    17345,
                    17347,
                    17351,
                    17358,
                    17359,
                    17360,
                    17365,
                    17366,
                    17387,
                    17389,
                    17405,
                    17414,
                    17422,
                    17425,
                    17443,
                    17450,
                    17453,
                    17454,
                    17456,
                    17459,
                    17460,
                    17461,
                    17465,
                    17478,
                    17482,
                    17483,
                    17510,
                    17553,
                    17561,
                    17563,
                    17574,
                    17579,
                    17583,
                    17617,
                    17628,
                    17640,
                    17642,
                    17648,
                    17661,
                    17688,
                    17704,
                    17710,
                    17711,
                    17754,
                    17763,
                    17781,
                    17782,
                    17790,
                    17806,
                    17812,
                    17830,
                    17832,
                    17860,
                    17892,
                    17912,
                    17923,
                    17961,
                    17971,
                    17986,
                    17997,
                    18014,
                    18017,
                    18028,
                    18033,
                    18041,
                    18069,
                    18076,
                    18096,
                    18098,
                    18119,
                    18120,
                    18138,
                    18141,
                    18142,
                    18146,
                    18148,
                    18150,
                    18153,
                    18178,
                    18181,
                    18188,
                    18197,
                    18214,
                    18219,
                    18228,
                    18235,
                    18239,
                    18245,
                    18257,
                    18258,
                    18293,
                    18301,
                    18316,
                    18322,
                    18334,
                    18338,
                    18353,
                    18358,
                    18374,
                    18397,
                    18409,
                    18412,
                    18417,
                    18418,
                    18430,
                    18432,
                    18433,
                    18447,
                    18449,
                    18454,
                    18464,
                    18470,
                    18489,
                    18502,
                    18511,
                    18518,
                    18526,
                    18533,
                    18544,
                    18562,
                    18581,
                    18597,
                    18622,
                    18672,
                    18675,
                    18677,
                    18687,
                    18691,
                    18692,
                    18700,
                    18701,
                    18711,
                    18713,
                    18717,
                    18752,
                    18790,
                    18814,
                    18818,
                    18826,
                    18827,
                    18846,
                    18852,
                    18888,
                    18890,
                    18893,
                    18896,
                    18905,
                    18912,
                    18913,
                    18918,
                    18974,
                    18975,
                    19010,
                    19027,
                    19036,
                    19055,
                    19058,
                    19079,
                    19105,
                    19112,
                    19117,
                    19128,
                    19140,
                    19146,
                    19147,
                    19163,
                    19165,
                    19167,
                    19172,
                    19173,
                    19185,
                    19198,
                    19214,
                    19271,
                    19274,
                    19276,
                    19280,
                    19283,
                    19285,
                    19295,
                    19301,
                    19320,
                    19330,
                    19332,
                    19334,
                    19359,
                    19382,
                    19395,
                    19398,
                    19403,
                    19419,
                    19445,
                    19463,
                    19482,
                    19487,
                    19492,
                    19499,
                    19501,
                    19502,
                    19516,
                    19518,
                    19523,
                    19526,
                    19549,
                    19554,
                    19578,
                    19591,
                    19615,
                    19646,
                    19648,
                    19663,
                    19664,
                    19666,
                    19668,
                    19678,
                    19683,
                    19685,
                    19688,
                    19690,
                    19709,
                    19714,
                    19721,
                    19732,
                    19735,
                    19737,
                    19739,
                    19741,
                    19750,
                    19757,
                    19759,
                    19781,
                    19812,
                    19821,
                    19827,
                    19858,
                    19871,
                    19875,
                    19883,
                    19888,
                    19891,
                    19896,
                    19907,
                    19909,
                    19911,
                    19912,
                    19917,
                    19918,
                    19922,
                    19928,
                    19930,
                    19935,
                    19944,
                    19951,
                    19957,
                    19965,
                    19973,
                    19974,
                    19975,
                    19976,
                    19984,
                    20000,
                    20004,
                    20019,
                    20020,
                    20024,
                    20029,
                    20040,
                    20047,
                    20068,
                    20077,
                    20083,
                    20090,
                    20101,
                    20120,
                    20127,
                    20143,
                    20148,
                    20151,
                    20160,
                    20164,
                    20184,
                    20190,
                    20202,
                    20227,
                    20235,
                    20241,
                    20243,
                    20262,
                    20289,
                    20291,
                    20329,
                    20340,
                    20361,
                    20384,
                    20387,
                    20396,
                    20519,
                    20589,
                    20744,
                    20752,
                    20790,
                    20814,
                    20897,
                    21228,
                    21323,
                    21421,
                    21619,
                    21639,
                    21841,
                    21995,
                    22009,
                    22028,
                    22072,
                    22073,
                    22146,
                    22160,
                    22166,
                    22190,
                    22225,
                    22309,
                    22447,
                    22468,
                    22479,
                    22484,
                    22518,
                    22647,
                    22649,
                    22746,
                    22764,
                    22770,
                    22976,
                    23039,
                    23408,
                    23415,
                    23606,
                    23647,
                    23671,
                    23673,
                    23690,
                    23705,
                    23758,
                    23874,
                    23895,
                    23897,
                    23955,
                    23956,
                    23958,
                    23959,
                    23960,
                    24007,
                    24019,
                    24142,
                    24390,
                    24450,
                    24752,
                    24790,
                    24820,
                    24824,
                    24841,
                    24992,
                    25068,
                    25258,
                    25367,
                    25379,
                    25380,
                    25430,
                    25625,
                    25633,
                    25736,
                    26040,
                    26263,
                    26481,
                    27107,
                    27231,
                    27240,
                    27453,
                    27524,
                    27550,
                    27666,
                    27683,
                    27700,
                    27770,
                    27795,
                    27796,
                    27822,
                    27886,
                    27950,
                    27963,
                    27964,
                    27965,
                    27978,
                    27979,
                    27999,
                    28062,
                    28076,
                    28077,
                    28079,
                    28115,
                    28174,
                    28189,
                    28349,
                    28875,
                    29042,
                    29056,
                    29204,
                    29838,
                    29854,
                    29855,
                    29856,
                    29857,
                    29868,
                    30159,
                    30775,
                    30901,
                    30946,
                    30950,
                    31183,
                    31287,
                    31509,
                    31690,
                    31894,
                    31966,
                    31967,
                    31968,
                    31969,
                    31970,
                    32166,
                    32171,
                    32589,
                    32593,
                    32883,
                    33044,
                    33200,
                    33225,
                    33285,
                    33355,
                    33389,
                    33558,
                    33982,
                    34297,
                    34416,
                    34417,
                    34444,
                    34498,
                    34823,
                    35046,
                    35799,
                    35832,
                    35835,
                    35959,
                    36124,
                    36569,
                    36688,
                    36738,
                    36992,
                    37174,
                    37412,
                    37415,
                    37433,
                    37434,
                    37588,
                    38156,
                    38157,
                    38158,
                    38175,
                    38184,
                    38185,
                    38255,
                    38370,
                    38378,
                    38733,
                    38981,
                    39020,
                    39308,
                    39803,
                    39804,
                    39992,
                    39993,
                    39994,
                    40182,
                    40358,
                    40360,
                    40400,
                    41003,
                    41271,
                    41381,
                    41450,
                    41490,
                    41567,
                    42353,
                    42563,
                    42564,
                    42565,
                    43141,
                    44307,
                    44373,
                    44487,
                    44489,
                    44490,
                    44580,
                    44771,
                    45303,
                    45666,
                    45814,
                    46046,
                    46414,
                    46588,
                    47203,
                    47366,
                    47813,
                    47815,
                    47891,
                    48077,
                    48340,
                    48596,
                    48607,
                    48744,
                    48787,
                    49487,
                    49499,
                    49500,
                    49757,
                    49782,
                    50079,
                    50082,
                    50083,
                    50087,
                    50090,
                    50091,
                    50096,
                    50097,
                    50098,
                    50099,
                    50101,
                    50102,
                    50103,
                    50104,
                    50109,
                    50110,
                    50112,
                    50114,
                    50115,
                    50116,
                    50118,
                    50121,
                    50126,
                    50130,
                    50132,
                    50134,
                    50135,
                    50292,
                    50297,
                    50298,
                    50299,
                    50302,
                    50304,
                    50307,
                    50309,
                    50310,
                    50311,
                    50312,
                    50315,
                    50416,
                    50473,
                    50709,
                    51127,
                    51130,
                    51138,
                    51141,
                    51147,
                    51150,
                    51155,
                    51159,
                    51163,
                    51165,
                    51170,
                    52706,
                    52883,
                    52971,
                    53221,
                    53223,
                    53321,
                    53323,
                    53327,
                    53328,
                    53459,
                    53465,
                    54069,
                    54436,
                    55053,
                    55202,
                    55478,
                    55482,
                    55483,
                    55486,
                    55487,
                    55488,
                    55501,
                    55502,
                    55850,
                    55855,
                    55860,
                    55885,
                    55944,
                    55978,
                    56425,
                    56430,
                    56440,
                    56453,
                    56472,
                    56501,
                    56513,
                    56517,
                    56525,
                    56529
                ],
                "id": 1,
                "install_base": "6000000",
                "medium_image": "http://www.giantbomb.com/api/image/scale_medium/10069-a500_plus1.jpg",
                "name": "Amiga",
                "online_support": true,
                "release_date": "1985-07-23 00:00:00",
                "site_detail_url": "http://www.giantbomb.com/amiga/3045-1/",
                "starting_price": "1285.00",
                "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10069-a500_plus1.jpg"
            }
        ]
        
## Platforms by Page [/platforms/offset/{offset}]

+ Parameters
    + offset (number) - the page number, starting at 1

### View Platform Page Example [GET]

+ Response 200 (application/json)

    [
        {
          "3DO": {
            "company": "Matsushita Electric Corporation of America (Panasonic)", 
            "name": "3DO", 
            "release_date": "1993-08-31 00:00:00", 
            "starting_price": "700.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10067-goldstar%203do.jpg"
          }, 
          "Amiga": {
            "company": "Commodore Electronics Ltd.", 
            "name": "Amiga", 
            "release_date": "1985-07-23 00:00:00", 
            "starting_price": "1285.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10069-a500_plus1.jpg"
          }, 
          "Amstrad CPC": {
            "company": "Amstrad", 
            "name": "Amstrad CPC", 
            "release_date": "1984-06-21 00:00:00", 
            "starting_price": "800.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10073-Amstrad_CPC464.jpg"
          }, 
          "Apple II": {
            "company": "Apple Inc.", 
            "name": "Apple II", 
            "release_date": "1977-06-30 00:00:00", 
            "starting_price": "1300.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10074-apple_ii_large.jpg"
          }, 
          "Atari 8-bit": {
            "company": "Atari", 
            "name": "Atari 8-bit", 
            "release_date": "1979-11-30 00:00:00", 
            "starting_price": "1000.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10170-Atari-800.jpg"
          }, 
          "Atari Lynx": {
            "company": "Atari SA", 
            "name": "Atari Lynx", 
            "release_date": "1989-09-30 00:00:00", 
            "starting_price": "190.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10608-lynx2.jpg"
          }, 
          "Atari ST": {
            "company": "Atari SA", 
            "name": "Atari ST", 
            "release_date": "1985-04-01 00:00:00", 
            "starting_price": "1000.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/220119-atari_1040stf.jpg"
          }, 
          "CD-i": {
            "company": "Philips Interactive Media, Inc.", 
            "name": "CD-i", 
            "release_date": "1991-12-03 00:00:00", 
            "starting_price": "700.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10173-cd-i.jpg"
          }, 
          "Commodore 64": {
            "company": "Commodore", 
            "name": "Commodore 64", 
            "release_date": "1982-08-31 00:00:00", 
            "starting_price": "595.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10289-c64.jpg"
          }, 
          "Game Boy": {
            "company": "Nintendo", 
            "name": "Game Boy", 
            "release_date": "1989-04-21 00:00:00", 
            "starting_price": "179.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1426210-logo.jpg"
          }, 
          "Game Boy Advance": {
            "company": "Nintendo", 
            "name": "Game Boy Advance", 
            "release_date": "2001-03-21 00:00:00", 
            "starting_price": "100.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2121789-gba.png"
          }, 
          "Game Gear": {
            "company": "Sega", 
            "name": "Game Gear", 
            "release_date": "1990-10-28 00:00:00", 
            "starting_price": "150.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1426271-logo.jpg"
          }, 
          "GameCube": {
            "company": "Nintendo", 
            "name": "GameCube", 
            "release_date": "2001-09-14 00:00:00", 
            "starting_price": "199.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1426256-logo.jpg"
          }, 
          "Genesis": {
            "company": "Sega", 
            "name": "Genesis", 
            "release_date": "1988-10-29 00:00:00", 
            "starting_price": "189.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10576-genesis.jpg"
          }, 
          "MSX": {
            "company": "ASCII Corporation", 
            "name": "MSX", 
            "release_date": "1983-06-16 00:00:00", 
            "starting_price": "0.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/176106-msx_philips_vg8020.jpg"
          }, 
          "Mac": {
            "company": "Apple Inc.", 
            "name": "Mac", 
            "release_date": "1984-01-31 00:00:00", 
            "starting_price": "2495.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1500874-overview_gallery3_20090828.jpg"
          }, 
          "Neo Geo": {
            "company": "SNK", 
            "name": "Neo Geo", 
            "release_date": "1990-01-31 00:00:00", 
            "starting_price": "650.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/613868-neo_20geo.jpg"
          }, 
          "Nintendo Entertainment System": {
            "company": "Nintendo", 
            "name": "Nintendo Entertainment System", 
            "release_date": "1983-07-15 00:00:00", 
            "starting_price": "199.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2419866-nes_console_set.png"
          }, 
          "PlayStation": {
            "company": "Sony Interactive Entertainment", 
            "name": "PlayStation", 
            "release_date": "1994-12-03 00:00:00", 
            "starting_price": "299.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1426393-logo.jpg"
          }, 
          "PlayStation 2": {
            "company": "Sony Interactive Entertainment", 
            "name": "PlayStation 2", 
            "release_date": "2000-03-04 00:00:00", 
            "starting_price": "299.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/438868-ps2_full_large.jpg"
          }, 
          "PlayStation Portable": {
            "company": "Sony Interactive Entertainment", 
            "name": "PlayStation Portable", 
            "release_date": "2005-03-24 00:00:00", 
            "starting_price": "249.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2122792-pspmain.png"
          }, 
          "Sega Master System": {
            "company": "Sega", 
            "name": "Sega Master System", 
            "release_date": "1985-10-20 00:00:00", 
            "starting_price": "200.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/176128-sega_master_system__6_.jpg"
          }, 
          "Super Nintendo Entertainment System": {
            "company": "Nintendo", 
            "name": "Super Nintendo Entertainment System", 
            "release_date": "1990-11-21 00:00:00", 
            "starting_price": "199.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2287891-snes_sfc.jpg"
          }, 
          "Xbox 360": {
            "company": "Microsoft Studios", 
            "name": "Xbox 360", 
            "release_date": "2005-11-22 00:00:00", 
            "starting_price": "399.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/195092-xbox_360_console_02.jpg"
          }, 
          "ZX Spectrum": {
            "company": "Sinclair Research Ltd.", 
            "name": "ZX Spectrum", 
            "release_date": "1982-04-20 00:00:00", 
            "starting_price": "249.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/176104-zxspectrum48k.jpg"
          }
        } 
    ]
    
## Character by ID [/characters/{id}]

+ Parameters
    + id (number) - ID of the character in the form of an integer

### View Character Example [GET]

+ Response 200 (application/json)

    [
        {
          "aliases": "Hanzo Hasashi", 
          "birthday": null, 
          "deck": "Scorpion is a wraith from the Netherrealm who is consumed with a desire for revenge.", 
          "description": "<h2>Profile</h2><p><b>Alignment:</b> Neutral (Formerly Evil)</p><p><b>Species:</b> <a href=\"/wraith/3015-4776/\" data-ref-id=\"3015-4776\">Wraith</a> (Formerly <a href=\"/human/3015-810/\" data-ref-id=\"3015-810\">Human</a>)</p><p><b>Origin:</b> Earthrealm (Reborn In <a href=\"/netherrealm/3035-615/\" data-ref-id=\"3035-615\">Netherrealm</a>)</p><p><b>Allies:</b> None</p><p><b>Enemies:</b> <a href=\"/sub-zero/3005-2/\" data-ref-id=\"3005-2\">Sub-Zero</a>, <a href=\"/quan-chi/3005-402/\" data-ref-id=\"3005-402\">Quan Chi</a>, <a href=\"/drahmin/3005-382/\" data-ref-id=\"3005-382\">Drahmin</a>, <a href=\"/moloch/3005-398/\" data-ref-id=\"3005-398\">Moloch</a></p><h2>Story</h2><figure data-align=\"right\" data-img-src=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif\" data-ref-id=\"1300-189718\" data-size=\"small\" style=\"width: 223px\" data-ratio=\"1.6816143497758\" data-width=\"223\" data-embed-type=\"image\"><a class=\"fluid-height\" style=\"padding-bottom:168.2%\" href=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif\" data-ref-id=\"1300-189718\"><img alt=\"Scorpion MK3 Concept Art by John Tobias\" src=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif\" srcset=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif 223w\" sizes=\"(max-width: 223px) 100vw, 223px\" data-width=\"223\"></a><figcaption>Scorpion MK3 Concept Art by John Tobias</figcaption></figure><p>Scorpion was originally known as Hanzo Hasashi, the greatest warrior in the <a href=\"/shirai-ryu/3015-7020/\" data-ref-id=\"3015-7020\">Shirai Ryu</a> ninja clan, though he was already called Scorpion by his clansmen out of respect for his assassination skills. He became a <a href=\"/ninja/3015-12/\" data-ref-id=\"3015-12\">ninja</a> to provide a better life for his wife and son against the wishes of his father, himself already a member of the Shirai. His clan's most hated rivals were the <a href=\"/lin-kuei/3015-5062/\" data-ref-id=\"3015-5062\">Lin Kuei</a> clan. Scorpion and his mortal enemy <a href=\"/noob-saibot/3005-152/\" data-ref-id=\"3005-152\">Sub-Zero</a> were both hired by Quan Chi to retrieve a scroll from the <a href=\"/himalayas/3035-3474/\" data-ref-id=\"3035-3474\">Himalayas</a>, but the two ninjas crossed paths, leading them to fight in the mountains. Sub-Zero emerged the winner, decapitating Scorpion with his ice blade in the process. This scenario played out in <a href=\"/mortal-kombat-mythologies-sub-zero/3030-17295/\" data-ref-id=\"3030-17295\"><i>Mortal Kombat Mythologies: Sub-Zero</i></a> in which Scorpion played a <a href=\"/bosses/3015-229/\" data-ref-id=\"3015-229\">boss</a>. Scorpion soon found himself in the Netherrealm, where he again fought and lost to Sub-Zero later in the same game, presented with a choice: an eternity in hell, or a return to Earth as a spectre with no memories of his past. Scorpion chose revenge, and returned to Earth only to find that Sub-Zero had wiped out the Shirai Ryu clan entirely, including his wife and child.</p><p>He enrolled in the first <a href=\"/mortal-kombat/3030-15743/\" data-ref-id=\"3030-15743\">Mortal Kombat</a> tournament as an undead warrior to seek out and kill Sub-Zero at long last. He succeeded in this, but lost the overall tournament. His victory was short-lived when he heard that Sub-Zero had entered the second <a href=\"/mortal-kombat-ii/3030-3571/\" data-ref-id=\"3030-3571\">Mortal Kombat</a> tournament and Scorpion followed suit. The wraith tracked down his nemesis but, after seeing him spare the life of an opponent, realized he couldn't be the man who killed him. It was revealed to him that this was actually Sub-Zero's younger brother, taking on his dead brother's identity to restore honour to the title of Sub-Zero in murdering so many unjustly as well as failing to kill <a href=\"/shang-tsung/3005-92/\" data-ref-id=\"3005-92\">Shang Tsung</a>, the first tournament's host. Scorpion unexpectedly vowed to protect the new Sub-Zero, after recognizing a kinship as he had also abandoned the evil ways of his past.</p><figure data-align=\"left\" data-img-src=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg\" data-ref-id=\"1300-358644\" data-size=\"small\" style=\"width: 466px\" data-ratio=\"1.068669527897\" data-width=\"466\" data-embed-type=\"image\"><a class=\"fluid-height\" style=\"padding-bottom:106.9%\" href=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg\" data-ref-id=\"1300-358644\"><img alt=\"Scorpion in Deadly Alliance\" src=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg\" srcset=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg 466w\" sizes=\"(max-width: 598px) 100vw, 598px\" data-width=\"598\"></a><figcaption>Scorpion in Deadly Alliance</figcaption></figure><p>In <a href=\"/ultimate-mortal-kombat-3/3030-2178/\" data-ref-id=\"3030-2178\">Ultimate Mortal Kombat 3</a>, <a href=\"/netherrealm/3035-615/\" data-ref-id=\"3035-615\">Netherrealm</a> was invaded by <a href=\"/shao-kahn/3005-91/\" data-ref-id=\"3005-91\">Shao Kahn,</a> who attacked Earth and recruited Scorpion into his army. The alliance, which COULD be described as deadly, was quickly dissolved when Scorpion learned of young Sub-Zero being on the side of Earth Realm. Scorpion immediately joined Earth's warriors to defeat Shao Kahn's forces but this alliance, too, was short-lived as in <a href=\"/mortal-kombat-4/3030-6421/\" data-ref-id=\"3030-6421\">Mortal Kombat 4</a>, Scorpion was tricked into believing that Sub-Zero HAD killed his family by evil sorcerer Quan Chi. Scorpion confronted and defeated Sub-Zero, who denied involvement in his family's death. Quan Chi revealed himself the true killer and cast a spell to return Scorpion to the Netherrealm. Scorpion hurled himself at Quan Chi before the spell fully took affect and transported Quan Chi to the hellish dimension with him.</p><p><a href=\"/mortal-kombat-deadly-alliance/3030-6588/\" data-ref-id=\"3030-6588\">Mortal Kombat: Deadly Alliance</a> found Quan Chi rescued from Netherrealm by the demons <a href=\"/moloch/3005-398/\" data-ref-id=\"3005-398\">Moloch</a> and <a href=\"/drahmin/3005-382/\" data-ref-id=\"3005-382\">Drahmin</a>, who then attacked Scorpion. Scorpion tracked Quan Chi while evading the two demons. He was unable to find the sorcerer, but was found by the Elder Gods who enlisted him to defeat <a href=\"/onaga/3005-401/\" data-ref-id=\"3005-401\">Onaga</a> before he could destroy the realms. Scorpion failed, taking the storyline to the events of <a href=\"/mortal-kombat-deception/3030-383/\" data-ref-id=\"3030-383\">Mortal Kombat: Deception</a>, in which the realms were unmade. In <a href=\"/mortal-kombat-armageddon/3030-11843/\" data-ref-id=\"3030-11843\">Mortal Kombat: Armageddon</a>, Scorpion entreated the Elder Gods to resurrect his clan, including his family, in exchange for serving them as an agent. Before they reunited, however, Quan Chi appeared again and dragged Scorpion's son to Netherrealm. The newly crowned leader of the revived Shirai clan vowed to not rest until he finds, and kills, Quan Chi.</p><h2>Endings</h2><p>Scorpion rarely has a grudge against any of the \"boss\" characters of <i>Mortal Kombat</i>, and as such many of his endings are actually canonical as they don't require him to win the entire <a href=\"/tournament/3015-1096/\" data-ref-id=\"3015-1096\">tournament</a>.</p><h3><b>Mortal Kombat</b></h3><p>Scorpion avenges the murder of his family by killing Sub-Zero, but the victory is bittersweet for even as champion of Mortal Kombat, he can never again see them in this life
[...]
