FORMAT: 1A
HOST: http://vgidb.me/api

# VGIDB

VGIDB_API is an API allowing users to access information about their favorite platform, character, or game.

## Game by ID [/games/{id}]

+ Parameters
    + id (number) - ID of the game in the form of an integer
    
### View Game Example [GET]

+ Response 200 (application/json)

        [
            {
              "aliases": "Desert Strike Advance", 
              "character": null, 
              "description": "<h2>Overview</h2><p>Desert Strike: Return to the Gulf is an isometric helicopter shoot 'em up from Electronic Arts. The player is a fighter pilot who must take down mission-critical targets across a number of maps. The player is free to pursue these missions in any order, and must also keep an eye on the fuel, damage, and ammo gauges.</p><p>Desert Strike is the first of the prolific <a href=\"/strike-series/3025-143/\" data-ref-id=\"3025-143\">Strike</a> series, and was followed with <a href=\"/jungle-strike/3030-2180/\" data-ref-id=\"3030-2180\">Jungle Strike</a> and <a href=\"/urban-strike/3030-9336/\" data-ref-id=\"3030-9336\">Urban Strike</a> on the Genesis. Two more games, <a href=\"/soviet-strike/3030-2422/\" data-ref-id=\"3030-2422\">Soviet Strike</a> and <a href=\"/nuclear-strike/3030-11731/\" data-ref-id=\"3030-11731\">Nuclear Strike</a>, were released later for 32-bit systems.</p><h2>Story</h2><p>A year after the Gulf War, General Ibn Kilbaba takes over a small <a href=\"/unnamed-middle-eastern-location/3035-179/\" data-ref-id=\"3035-179\">Arab emirate</a> and plans to start World War III. Using an <a href=\"/ah-64-apache/3055-2463/\" data-ref-id=\"3055-2463\">AH-64 Apache</a>, the player must open the way for ground troops and finally take on the \"Madman\" himself.</p><h2>Gameplay</h2><p>The game is played from an isometric perspective in open levels that allow free movement in all directions by scrolling the screen with the movement of the helicopter. Each level consists of many varying objectives that range anywhere from destroying enemy bases and vehicles to capturing enemy troops or rescuing friendly ones. While bases and vehicles are simply destroyed, both friendly and enemy troops must be taken back to base for extraction. The AH-64 Apache has limited cargo space, so multiple trips to and from the base may be necessary. These objectives aren't always linear, and can often be tackled in whatever order the player chooses. This combination of free movement and non-linear structure separated Desert Strike from many of the other contemporary shooters.</p><p>There are three weapons of varying strength and usefulness available to the AH-64 Apache: machine guns, hydra missiles, and hellfire missiles, which increase in strength respectively. Each of these weapons has a limited number of ammo which can only be replenished by picking up ammo crates on the mission or by resupplying back at the base. Similarly, the AH-64 Apache only has a limited amount of fuel that will drain slowly over the course of each level. If the fuel runs out, the helicopter crashes and the player loses a life. Refueling works exactly the same as restocking ammo.</p><p>Lives are lost when either the AH-64 Apache takes too much damage and is destroyed, or when it runs out of fuel. After three lives have been lost, the game is over. Due to the nature of the game's freedom, each level requires a certain amount of planning and strategy in order to complete all of the objectives while still having enough fuel, ammo, and health to survive.</p><h2>Ports</h2><p>Due to its popularity on the <a href=\"/sega-genesis/3055-4659/\" data-ref-id=\"3055-4659\">Sega Genesis</a> in 1992, the game was then ported to the <a href=\"/amiga/3045-1/\" data-ref-id=\"3045-1\">Amiga</a>, <a href=\"/sega-master-system/3045-8/\" data-ref-id=\"3045-8\">Master System</a>, and <a href=\"/snes/3045-9/\" data-ref-id=\"3045-9\">SNES</a> in the same year. Two years later in 1994, it was released on the <a href=\"/pc/3045-94/\" data-ref-id=\"3045-94\">PC</a>. It was also ported to most handheld systems such as the <a href=\"/lynx/3045-7/\" data-ref-id=\"3045-7\">Lynx</a> in 1993, <a href=\"/game-gear/3045-5/\" data-ref-id=\"3045-5\">Game Gear</a> in 1994, <a href=\"/game-boy/3045-3/\" data-ref-id=\"3045-3\">Game Boy</a> in 1995, <a href=\"/game-boy-advance/3045-4/\" data-ref-id=\"3045-4\">Game Boy Advance</a> in 2002, and finally the <a href=\"/psp/3045-18/\" data-ref-id=\"3045-18\">PSP</a> in 2006 as part of <a href=\"/ea-replay/3030-10965/\" data-ref-id=\"3030-10965\">EA Replay</a>.</p>", 
              "id": 1, 
              "medium_image": "http://www.giantbomb.com/api/image/scale_medium/2370498-genesis_desertstrike_2__1_.jpg", 
              "name": "Desert Strike: Return to the Gulf", 
              "platforms": [
                [
                    1,
                    "Amiga"
                ], 
                [
                    3,
                    "Game Boy" 
                ],
                [
                    4
                    "Game Boy Advance"
                ], 
                [
                    5,
                    "Game Gear"
                ],
                [
                    6,
                    "Genesis"
                ],
                [
                    7,
                    "Atari Lynx"
                ],
                [
                    8,
                    "Sega Master System"
                ],
                [
                    9,
                    "Super Nnintendo Entertainment System"
                ],
                [
                    94,
                    "PC"
                ]
              ], 
              "release_date": "1992-02-29 00:00:00", 
              "site_detail_url": "http://www.giantbomb.com/desert-strike-return-to-the-gulf/3030-1/", 
              "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2370498-genesis_desertstrike_2__1_.jpg"
            }
        ]

## Games by page [/games/offset/{offset}]

+ Parameters
    + offset (number) - the page number, starting at 1

### View Game Page Example [GET]

+ Response 200 (application/json)

        [
            
            {
                "aliases": "Game 1",
                "id": 1,
                "name": "Name",
                "num_platforms": 10,
                "release_date": "1992-02-29 00:00:00",
                "tiny_image": "https://website.com"
            },
            {
                "aliases": "Game 2",
                "id": 2,
                "name": "Name",
                "num_platforms": 10,
                "release_date": "1992-02-29 00:00:00",
                "tiny_image": "https://website.com"
            }
        ]
            
        
## Platform by ID [/platforms/{id}]

+ Parameters
    + id (number) - ID of the platform in the form of an integer
    

### View Platform Example [GET]

+ Response 200 (application/json)

        [
            {
            "abbreviations": "Plat",
            "company": "Company",
            "description": "Description",
            "games": 
            [
                [
                    1,
                    "name"
                ],
                [
                    2,
                    "name2"
                ]
            ],
            "id": 1,
            "install_base": "100",
            "medium_image": "https://website.com"
            "name": "Name",
            "online_support": true,
            "release_date": "2007-06-29 00:00:00",
            "search_vector": "'name':1",
            "site_detail_url": "https://website.com",
            "starting_price": "599.00",
            "tiny_image": "https://website.com",
        }
        
## Platforms by Page [/platforms/offset/{offset}]

+ Parameters
    + offset (number) - the page number, starting at 1

### View Platform Page Example [GET]

+ Response 200 (application/json)

    [
        {
            "company": "Matsushita Electric Corporation of America (Panasonic)", 
            "id": 1,
            "name": "3DO", 
            "release_date": "1993-08-31 00:00:00", 
            "starting_price": "700.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10067-goldstar%203do.jpg"
        }, 
        {
            "company": "Commodore Electronics Ltd.",
            "id": 2,
            "name": "Amiga", 
            "release_date": "1985-07-23 00:00:00", 
            "starting_price": "1285.00", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/10069-a500_plus1.jpg"
          
        } 
    ]
    
## Character by ID [/characters/{id}]

+ Parameters
    + id (number) - ID of the character in the form of an integer

### View Character Example [GET]

+ Response 200 (application/json)

    [
        {
          "aliases": "Hanzo Hasashi", 
          "birthday": null, 
          "deck": "Scorpion is a wraith from the Netherrealm who is consumed with a desire for revenge.", 
          "description": "<h2>Profile</h2><p><b>Alignment:</b> Neutral (Formerly Evil)</p><p><b>Species:</b> <a href=\"/wraith/3015-4776/\" data-ref-id=\"3015-4776\">Wraith</a> (Formerly <a href=\"/human/3015-810/\" data-ref-id=\"3015-810\">Human</a>)</p><p><b>Origin:</b> Earthrealm (Reborn In <a href=\"/netherrealm/3035-615/\" data-ref-id=\"3035-615\">Netherrealm</a>)</p><p><b>Allies:</b> None</p><p><b>Enemies:</b> <a href=\"/sub-zero/3005-2/\" data-ref-id=\"3005-2\">Sub-Zero</a>, <a href=\"/quan-chi/3005-402/\" data-ref-id=\"3005-402\">Quan Chi</a>, <a href=\"/drahmin/3005-382/\" data-ref-id=\"3005-382\">Drahmin</a>, <a href=\"/moloch/3005-398/\" data-ref-id=\"3005-398\">Moloch</a></p><h2>Story</h2><figure data-align=\"right\" data-img-src=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif\" data-ref-id=\"1300-189718\" data-size=\"small\" style=\"width: 223px\" data-ratio=\"1.6816143497758\" data-width=\"223\" data-embed-type=\"image\"><a class=\"fluid-height\" style=\"padding-bottom:168.2%\" href=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif\" data-ref-id=\"1300-189718\"><img alt=\"Scorpion MK3 Concept Art by John Tobias\" src=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif\" srcset=\"http://static.giantbomb.com/uploads/original/0/2218/189718-scorpion_sketch.gif 223w\" sizes=\"(max-width: 223px) 100vw, 223px\" data-width=\"223\"></a><figcaption>Scorpion MK3 Concept Art by John Tobias</figcaption></figure><p>Scorpion was originally known as Hanzo Hasashi, the greatest warrior in the <a href=\"/shirai-ryu/3015-7020/\" data-ref-id=\"3015-7020\">Shirai Ryu</a> ninja clan, though he was already called Scorpion by his clansmen out of respect for his assassination skills. He became a <a href=\"/ninja/3015-12/\" data-ref-id=\"3015-12\">ninja</a> to provide a better life for his wife and son against the wishes of his father, himself already a member of the Shirai. His clan's most hated rivals were the <a href=\"/lin-kuei/3015-5062/\" data-ref-id=\"3015-5062\">Lin Kuei</a> clan. Scorpion and his mortal enemy <a href=\"/noob-saibot/3005-152/\" data-ref-id=\"3005-152\">Sub-Zero</a> were both hired by Quan Chi to retrieve a scroll from the <a href=\"/himalayas/3035-3474/\" data-ref-id=\"3035-3474\">Himalayas</a>, but the two ninjas crossed paths, leading them to fight in the mountains. Sub-Zero emerged the winner, decapitating Scorpion with his ice blade in the process. This scenario played out in <a href=\"/mortal-kombat-mythologies-sub-zero/3030-17295/\" data-ref-id=\"3030-17295\"><i>Mortal Kombat Mythologies: Sub-Zero</i></a> in which Scorpion played a <a href=\"/bosses/3015-229/\" data-ref-id=\"3015-229\">boss</a>. Scorpion soon found himself in the Netherrealm, where he again fought and lost to Sub-Zero later in the same game, presented with a choice: an eternity in hell, or a return to Earth as a spectre with no memories of his past. Scorpion chose revenge, and returned to Earth only to find that Sub-Zero had wiped out the Shirai Ryu clan entirely, including his wife and child.</p><p>He enrolled in the first <a href=\"/mortal-kombat/3030-15743/\" data-ref-id=\"3030-15743\">Mortal Kombat</a> tournament as an undead warrior to seek out and kill Sub-Zero at long last. He succeeded in this, but lost the overall tournament. His victory was short-lived when he heard that Sub-Zero had entered the second <a href=\"/mortal-kombat-ii/3030-3571/\" data-ref-id=\"3030-3571\">Mortal Kombat</a> tournament and Scorpion followed suit. The wraith tracked down his nemesis but, after seeing him spare the life of an opponent, realized he couldn't be the man who killed him. It was revealed to him that this was actually Sub-Zero's younger brother, taking on his dead brother's identity to restore honour to the title of Sub-Zero in murdering so many unjustly as well as failing to kill <a href=\"/shang-tsung/3005-92/\" data-ref-id=\"3005-92\">Shang Tsung</a>, the first tournament's host. Scorpion unexpectedly vowed to protect the new Sub-Zero, after recognizing a kinship as he had also abandoned the evil ways of his past.</p><figure data-align=\"left\" data-img-src=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg\" data-ref-id=\"1300-358644\" data-size=\"small\" style=\"width: 466px\" data-ratio=\"1.068669527897\" data-width=\"466\" data-embed-type=\"image\"><a class=\"fluid-height\" style=\"padding-bottom:106.9%\" href=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg\" data-ref-id=\"1300-358644\"><img alt=\"Scorpion in Deadly Alliance\" src=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg\" srcset=\"http://static.giantbomb.com/uploads/original/0/3699/358644-scorpionkjpg.jpg 466w\" sizes=\"(max-width: 598px) 100vw, 598px\" data-width=\"598\"></a><figcaption>Scorpion in Deadly Alliance</figcaption></figure><p>In <a href=\"/ultimate-mortal-kombat-3/3030-2178/\" data-ref-id=\"3030-2178\">Ultimate Mortal Kombat 3</a>, <a href=\"/netherrealm/3035-615/\" data-ref-id=\"3035-615\">Netherrealm</a> was invaded by <a href=\"/shao-kahn/3005-91/\" data-ref-id=\"3005-91\">Shao Kahn,</a> who attacked Earth and recruited Scorpion into his army. The alliance, which COULD be described as deadly, was quickly dissolved when Scorpion learned of young Sub-Zero being on the side of Earth Realm. Scorpion immediately joined Earth's warriors to defeat Shao Kahn's forces but this alliance, too, was short-lived as in <a href=\"/mortal-kombat-4/3030-6421/\" data-ref-id=\"3030-6421\">Mortal Kombat 4</a>, Scorpion was tricked into believing that Sub-Zero HAD killed his family by evil sorcerer Quan Chi. Scorpion confronted and defeated Sub-Zero, who denied involvement in his family's death. Quan Chi revealed himself the true killer and cast a spell to return Scorpion to the Netherrealm. Scorpion hurled himself at Quan Chi before the spell fully took affect and transported Quan Chi to the hellish dimension with him.</p><p><a href=\"/mortal-kombat-deadly-alliance/3030-6588/\" data-ref-id=\"3030-6588\">Mortal Kombat: Deadly Alliance</a> found Quan Chi rescued from Netherrealm by the demons <a href=\"/moloch/3005-398/\" data-ref-id=\"3005-398\">Moloch</a> and <a href=\"/drahmin/3005-382/\" data-ref-id=\"3005-382\">Drahmin</a>, who then attacked Scorpion. Scorpion tracked Quan Chi while evading the two demons. He was unable to find the sorcerer, but was found by the Elder Gods who enlisted him to defeat <a href=\"/onaga/3005-401/\" data-ref-id=\"3005-401\">Onaga</a> before he could destroy the realms. Scorpion failed, taking the storyline to the events of <a href=\"/mortal-kombat-deception/3030-383/\" data-ref-id=\"3030-383\">Mortal Kombat: Deception</a>, in which the realms were unmade. In <a href=\"/mortal-kombat-armageddon/3030-11843/\" data-ref-id=\"3030-11843\">Mortal Kombat: Armageddon</a>, Scorpion entreated the Elder Gods to resurrect his clan, including his family, in exchange for serving them as an agent. Before they reunited, however, Quan Chi appeared again and dragged Scorpion's son to Netherrealm. The newly crowned leader of the revived Shirai clan vowed to not rest until he finds, and kills, Quan Chi.</p><h2>Endings</h2><p>Scorpion rarely has a grudge against any of the \"boss\" characters of <i>Mortal Kombat</i>, and as such many of his endings are actually canonical as they don't require him to win the entire <a href=\"/tournament/3015-1096/\" data-ref-id=\"3015-1096\">tournament</a>.</p><h3><b>Mortal Kombat</b></h3><p>Scorpion avenges the murder of his family by killing Sub-Zero, but the victory is bittersweet for even as champion of Mortal Kombat, he can never again see them in this life.</p><h3><b>Mortal Kombat II</b></h3><p>Scorpion realizes the man he tracked to the second Mortal Kombat tournament, Sub-Zero, isn't his murderer. After winning the tournament, he vows to become the guardian of this new <a href=\"/sub-zero/3005-2/\" data-ref-id=\"3005-2\">Sub-Zero</a> to atone for his sins and to prepare for the inevitable third Mortal Kombat.</p><h3><b>Mortal Kombat 3</b></h3><figure data-align=\"right\" data-img-src=\"http://static.giantbomb.com/uploads/original/0/5128/346271-mkd_scorpion.jpg\" data-ref-id=\"1300-346271\" data-size=\"small\" style=\"width: 500px\" data-ratio=\"2.2\" data-width=\"500\" data-embed-type=\"image\"><a class=\"fluid-height\" style=\"padding-bottom:220.0%\" href=\"http://static.giantbomb.com/uploads/original/0/5128/346271-mkd_scorpion.jpg\" data-ref-id=\"1300-346271\"><img alt=\"Scorpion in Armageddon\" src=\"data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==\" sizes=\"(max-width: 290px) 100vw, 290px\" data-width=\"290\" class=\"js-lazy-load-image\" data-src=\"http://static.giantbomb.com/uploads/scale_small/0/5128/346271-mkd_scorpion.jpg\" data-srcset=\"http://static.giantbomb.com/uploads/original/0/5128/346271-mkd_scorpion.jpg 500w, http://static.giantbomb.com/uploads/scale_medium/0/5128/346271-mkd_scorpion.jpg 436w, http://static.giantbomb.com/uploads/scale_small/0/5128/346271-mkd_scorpion.jpg 290w\"><noscript><img alt=\"Scorpion in Armageddon\" src=\"http://static.giantbomb.com/uploads/scale_small/0/5128/346271-mkd_scorpion.jpg\" srcset=\"http://static.giantbomb.com/uploads/original/0/5128/346271-mkd_scorpion.jpg 500w, http://static.giantbomb.com/uploads/scale_medium/0/5128/346271-mkd_scorpion.jpg 436w, http://static.giantbomb.com/uploads/scale_small/0/5128/346271-mkd_scorpion.jpg 290w\" sizes=\"(max-width: 290px) 100vw, 290px\" data-width=\"290\"></noscript></a><figcaption>Scorpion in Armageddon</figcaption></figure><p>Scorpion turns on Shao Kahn after learning of Sub-Zero's presence in the Earth's guardians. He kills Shao Kahn and returns Earth to normal, but he is once again damned to return to <a href=\"/netherrealm/3035-615/\" data-ref-id=\"3035-615\">Netherrealm</a> to wait to rise again.</p><h3><b>Mortal Kombat 4</b></h3><p>Scorpion stands ready to kill Sub-Zero again for the death of his family, but Sub-Zero denies the crime. Quan Chi reveals himself as the killer and casts a spell to send Scorpion back to the Netherrealm. Scorpion hurls himself forward, tackling Quan Chi and transporting him back to hell as well.</p><h3><b>Mortal Kombat: Deadly Alliance</b></h3><p>Scorpion tracks Quan Chi to Shang Tsung's palace where he's confronted by Moloch and Drahmin. It seems Shang Tsung had aligned himself with the two demons in secret and kept them as a secondary defense against Quan Chi. The two demons overpower Scorpion, but are unable to consume him. Instead, they bring him to the portal to the Heavens and cast him into the Soulnado, having the souls there tear Scorpion's spectral body to shreds. Congratulations!</p><h3><b>Mortal Kombat: Deception</b></h3><p>Scorpion, the chosen warrior of the gods (not <a href=\"/shujinko/3005-406/\" data-ref-id=\"3005-406\">Shujinko</a>, who was deceived into believing that it was him), tracks Onaga the Dragon King to the Nexus and uses his newfound Elder God-infused powers to kill Onaga once and for all.</p><h3><b>Mortal Kombat: Armageddon</b></h3><p>Scorpion's defeat of <a href=\"/blaze/3005-373/\" data-ref-id=\"3005-373\">Blaze</a> resurrects his massive Shirai Ryu clan and they kneel, ready to their master's bidding. Among them are Scorpion's wife and son, but the reunion is cut when Quan Chi appears and abducts Scorpion's son through a portal to Netherrealm. Scorpion commands his new army to go after them, vowing to not rest until Quan Chi is dead and his son is safe.</p><h3><strong>Mortal Kombat vs. DC Universe</strong></h3><p>After the battle against Dark Kahn, his consciousness survived and made it into Scorpion's body. With this, he can become a more powerful being, if he survives the transformation.</p><h3><b>Mortal Kombat (2011)</b></h3><p>Scorpion defeats Shao Kahn, but finds no rest for the torment brought by the slaughter of his clan. He returns to the destroyed village of the Shirai Ryu, and there he is greeted with apparitions of his fallen comrades. They reveal to him the orchestrator of the attack that wiped them out, Quan Chi, and with their help, Scorpion returns to the Netherrealm and carries out his revenge.</p><h3 style=\"margin-right:0px;margin-left:0px;\">Mortal Kombat X</h3><p>Remorse for the release of Shinnok weighs on Scorpion. When Hanzo Hasashi prepares to kill himself to make amends for his crime, Raiden instead sentences the ninja spectre to life. With the Jinsei imbued into Scorpion, he and his Shirai Ryu will defend Earthrealm for all eternity.</p><h2>Trivia</h2><ul><li>Scorpion's trademark phrases: \"<i>Get Over Here!</i>\" and \"<i>Come Here!</i>\" have always been voiced by <a href=\"/ed-boon/3040-11102/\" data-ref-id=\"3040-11102\">Ed Boon</a>, even in the live-action movies. This makes Ed Boon the world record holder for a single actor playing a videogame character the longest, as the original <i>Mortal Kombat</i> came out twenty years ago. The actor who has actually <i>acted</i> as the same character for the longest amount of time is <a href=\"/joseph-d-kucan/3040-1073/\" data-ref-id=\"3040-1073\">Joe Kucan</a>, who has played <a href=\"/kane/3005-217/\" data-ref-id=\"3005-217\">Kane</a> in the <a href=\"/command-conquer/3025-98/\" data-ref-id=\"3025-98\"><i>Command &amp; Conquer</i></a> games for sixteen years.</li><li>Ed Boon has stated multiple times that Scorpion is his favourite character.</li></ul><h2>Other Appearances</h2><ul><li>Scorpion has made appearances in three other Midway games: <a href=\"/psi-ops-the-mindgate-conspiracy/3030-9051/\" data-ref-id=\"3030-9051\"><i>Psi-Ops: The Mindgate Conspiracy</i></a>, <a href=\"/nba-jam-tournament-edition/3030-14792/\" data-ref-id=\"3030-14792\"><i>NBA Jam Tournament Edition</i></a>, and <a href=\"/mlb-slugfest-loaded/3030-6423/\" data-ref-id=\"3030-6423\"><i>MLB Slugfest Loaded</i>.</a></li></ul><ul><li>Scorpion made an appearance in an episode of Drawn Together a show on Comedy Central.</li></ul><h2>Special Moves</h2><figure data-align=\"right\" data-img-src=\"http://static.giantbomb.com/uploads/original/0/6742/412364-scorpion_spear.png\" data-ref-id=\"1300-412364\" data-size=\"small\" style=\"width: 317px\" data-ratio=\"0.64668769716088\" data-width=\"317\" data-embed-type=\"image\"><a class=\"fluid-height\" style=\"padding-bottom:64.7%\" href=\"http://static.giantbomb.com/uploads/original/0/6742/412364-scorpion_spear.png\" data-ref-id=\"1300-412364\"><img alt=\"Scorpion spears Liu Kang in the original Mortal Kombat\" src=\"data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==\" sizes=\"(max-width: 317px) 100vw, 317px\" data-width=\"317\" class=\"js-lazy-load-image\" data-src=\"http://static.giantbomb.com/uploads/original/0/6742/412364-scorpion_spear.png\" data-srcset=\"http://static.giantbomb.com/uploads/original/0/6742/412364-scorpion_spear.png 317w\"><noscript><img alt=\"Scorpion spears Liu Kang in the original Mortal Kombat\" src=\"http://static.giantbomb.com/uploads/original/0/6742/412364-scorpion_spear.png\" srcset=\"http://static.giantbomb.com/uploads/original/0/6742/412364-scorpion_spear.png 317w\" sizes=\"(max-width: 317px) 100vw, 317px\" data-width=\"317\"></noscript></a><figcaption>Scorpion spears Liu Kang in the original Mortal Kombat</figcaption></figure><ul><li><b>Spear Throw:</b> Hurls a spear from his arm and pulls the opponent toward him and stuns them for a very short period of time, setting them up for a free hit. In the 2013 fighting game, <a href=\"/injustice-gods-among-us/3030-38480/\" data-ref-id=\"3030-38480\"><em>Injustice: Gods Among Us</em></a>, this move is known as the <strong>Bloody Spear</strong>.</li><li><b>Teleport Attack:</b> Teleports through fire and behind his opponent and then he attacks with a punch or a kick, it can also be performed in the air.</li><li><b>Fire Breathe:</b> Scorpion removes his mask, then proceeds to breathe fire onto his opponents.</li><li><b>Hellfire:</b> Summons fire from Hell beneath his opponents feet or all over himself.</li><li><b>Takedown:</b> Scorpion dives as his opponent's leg, grabbing them between his, and forces them onto the ground.</li><li><b>X-Ray - Scorpion's Sting:</b> Scorpion punches his opponent straight in the face, causing them to fall on their back. He then walks over and stomps on their chest.</li></ul><h2>Fatalities</h2><figure data-align=\"right\" data-img-src=\"http://static.giantbomb.com/uploads/original/0/6742/412189-945637465_00.gif\" data-ref-id=\"1300-412189\" data-size=\"small\" style=\"width: 320px\" data-ratio=\"0.625\" data-width=\"320\" data-embed-type=\"image\"><a class=\"fluid-height\" style=\"padding-bottom:62.5%\" href=\"http://static.giantbomb.com/uploads/original/0/6742/412189-945637465_00.gif\" data-ref-id=\"1300-412189\"><img alt=\"Toasty!\" src=\"data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==\" sizes=\"(max-width: 320px) 100vw, 320px\" data-width=\"320\" class=\"js-lazy-load-image\" data-src=\"http://static.giantbomb.com/uploads/original/0/6742/412189-945637465_00.gif\" data-srcset=\"http://static.giantbomb.com/uploads/original/0/6742/412189-945637465_00.gif 320w\"><noscript><img alt=\"Toasty!\" src=\"http://static.giantbomb.com/uploads/original/0/6742/412189-945637465_00.gif\" srcset=\"http://static.giantbomb.com/uploads/original/0/6742/412189-945637465_00.gif 320w\" sizes=\"(max-width: 320px) 100vw, 320px\" data-width=\"320\"></noscript></a><figcaption>Toasty!</figcaption></figure><ul><li><b>Toasty!:</b> Scorpion removes his mask and breathes fire on his opponents until they explode or burn to ash.</li></ul><ul><li><b>Spear Slice:</b> This move is presented as either Scorpion slicing the opponent at the waist and then the upper body drops away, or as a slice to the waist splitting the opponent in half and then ripping the upper half of the torso off.</li><li><b>Spear Decapitation:</b> Scorpion hurls his spear into his opponents head and pulls the rope back toward himself resulting in the opponents head being torn from his/her body.</li><li><b>Spear Dismemberment/Neckbrecker:</b> Scorpion throws his spear into both his opponents arms, and his opponents legs, ripping them off violently. Then he follows it up by snapping his flailing opponents neck.</li><li><b>Split Decision:</b> Scorpion uses one of his swords to cut his opponent at their torso, then their neck. He then kicks the torso backward, severing it from the legs, as well as head. The head spins in midair and Scorpion slices it in half vertically.</li><li><b>Nether-Gate:</b> Scorpion stabs his opponent in the chest with the end of his spear, wraps the chain around their neck, and kicks them through a Netherrealm portal that he spawns behind them while holding on to the end of the chain. They reappear above, through another portal, burned and hung.</li></ul><h2>Quotes</h2><ul><li>\"<i>Where's the Lin Kuei Sub-Zero? He killed my family and clan. I will have his HEAD!</i>\"</li><li><i>\"You will regret your impulsiveness.\"</i></li><li>\"<i>You are not yet a warrior.\"</i></li><li>\"<i>I have defeated the challenger, Shang Tsung. I demand Sub-Zero!</i>\"</li><li>\"What do you know of my pas...\"</li><li>\"<i>You no longer seek retribution? You dishonor your kind.</i>\"</li><li>\"<i>I will honor the memory of my fallen!</i>\"</li><li><i>\"The spirits have forsaken you, shaman.\"</i></li><li>\"<i>You waste my time, sorcerer!</i>\"</li><li>\"<i>Sub-Zero deserves death!</i>\"</li><li>\"I will have my revenge!\"</li><li>\"<i>My clan may walk on Earth once more...</i>\"</li><li><i>\"I will have my revenge, but I will not kill Sub-Zero.\"</i></li><li>\"<i>You! The Shirai Ryu are dead. You will suffer as they did.</i>\"</li><li>\"<i>No... To hell with YOU!</i>\"</li><li>\"<i>This is where I was reborn, this is where YOU WILL PAY!</i>\"</li><li>\"<i>I have avenged my family and clan.</i>\"</li><li><i>\"I..I will not. He has been beaten.\"</i></li><li><i>\"What is this?</i>\"</li><li><i>\"No... No!\"</i></li><li><i>\"You have already lost!\"</i></li><li>\"<i>What is this? You are not Sub-Zero!</i>\"</li><li>\"<i>He had no honor! And you will die as he did!</i>\"</li><li><i>\"Save your pity.\"</i></li><li><i>\"You may address me. I will inform him.\"</i></li><li><i>\"Do not talk of my family, Raiden.\"</i></li><li>\"<i>You speak only with me!</i>\"</li></ul>", 
          "first_appeared_in_game": [
                15743, 
                "Mortal Kombat"
          ],
          "gender": 1, 
          "id": 1, 
          "medium_image": "http://www.giantbomb.com/api/image/scale_medium/2639794-mortalkombatx_scorpion.png", 
          "name": "Scorpion",
          "search_vector": "'scorpion':1",
          "site_detail_url": "http://www.giantbomb.com/scorpion/3005-1/", 
          "tiny_image": "http://www.giantbomb.com/api/image/square_mini/2639794-mortalkombatx_scorpion.png"
        }
    ]
    
    
## Characters by Page [/characters/offset/{offset}]

+ Parameters
    + offset (number) - the page number, starting at 1
    
### View Character Page Example [GET]

+ Response 200 (application/json)

    [
        {
            "aliases": "Sgt. John \"Soap\" MacTavish\nCapt. John \"Soap\" MacTavish.", 
            "deck": "John \"Soap\" MacTavish is the main protagonist of the S.A.S. missions in Call of Duty 4: Modern Warfare. He returns in Modern Warfare 2 leading Task Force 141.", 
            "first_appeared_in_game": [
                15743,
                "Call of Duty 4: Modern Warfare"
            ],
            "gender": 1,
            "id": 1
            "name": "John MacTavish", 
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/1083866-modernwarfare247_09_1024x768.jpg"
          }, 
          "Mr. Domino": {
            "aliases": null, 
            "deck": "The titular character of the game \"No One Can Stop Mr. Domino.\" This anthropomorphic domino has nothing better to do than spend his days avoiding obstacles and toppling dominoes.", 
            "first_appeared_in_game": [
                13325, 
                "Mr. Domino strikes back"
            ],
            "name": "Mr. Domino", 
            "gender": 0,
            "id": 1,
            "tiny_image": "http://www.giantbomb.com/api/image/square_mini/296752-mrdomino.jpg"
          }
        }
    ]