click==6.6
coverage==4.2
cv2==1.0
cycler==0.10.0
decorator==4.0.10
Flask==0.11.1
Flask-Script==2.0.5
Flask-SQLAlchemy==2.1
future==0.15.2
geopy==1.11.0
gpsoauth==0.3.0
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.1
numpy==1.11.0
opencv-python==3.1.0
pandas==0.18.0
protobuf==3.0.0b4
protobuf-to-dict==0.1.0
psycopg2==2.6.2
pycryptodomex==3.4.2
pyparsing==2.1.10
pyproj==1.9.5.1
python-dateutil==2.5.2
python-gmaps==0.3.1
pytz==2016.3
Quandl==2.8.9
requests==2.12.1
s2sphere==0.2.4
scikit-learn==0.17.1
scipy==0.17.0
six==1.10.0
sklearn==0.0
SQLAlchemy==1.0.15
SQLAlchemy-Searchable==0.10.2
SQLAlchemy-Utils==0.32.9
stop-words==2015.2.23.1
tabulate==0.7.5
validators==0.11.0
Werkzeug==0.11.11
