<h1 align="center">The Developers</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-rounded" src="/static/img/Eitan Yarmush.jpg" alt="...">
                <div class="caption">
                    <h3>Eitan Yarmush</h3>
                    <p>Eitan Yarmush is a 5th year Computer Science Major from UT. He enjoys playing video games, as well as exercising, and reading. I am an experienced web dev, and aspiring sandwich conniseur.</p>
                    <p>Contributions: {{contri.eitan}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-rounded" src="/static/img/Chris_Collier.jpg" alt="...">
                <div class="caption">
                    <h3>Christopher Collier</h3>
                    <p>Chris is a 5th year computer science major from UT. He enjoys playing music, running, and hanging out with friends. After graduation, Chris will be working as a Data Analytics consultant at Credera in Houston.</p>
                    <p>Contributions: {{contri.chris}}</p>
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-rounded" src="/static/img/Abhi_Rathod.JPG" alt="...">
                <div class="caption">
                    <h3>Abhi Rathod</h3>
                    <p>Abhi is a 4th year Computer Science major at University of Texas at Austin. He enjoys playing games, hanging out with friends and karaoke nights.</p>
                    <p>Contributions: {{contri.abhi}}</p>
                </div>
            </div>            
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-rounded" src="/static/img/Keith Wong.jpg" alt="...">
                <div class="caption">
                    <h3>Keith Wong</h3>
                    <p>Keith is a 4th year computer science major from UT. He enjoys eating good food, playing videogames, and hanging out with friends.</p>
                    <p>Contributions: {{contri.keith}}</p>
                </div>
            </div>            
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img class="img-rounded" src="https://www.facebook.com/photo.php?fbid=10207938796566694&set=a.1438849010140.2056561.1200451291&type=3&source=11" alt="...">
                <div class="caption">
                    <h3>Nathaniel Ballinger</h3>
                    <p>...</p>
                    <p>Contributions: {{contri.nathan}}</p>
                </div>
            </div>            
        </div>
        <div class="col-md-3">
        </div>
    </div>
</div> 
