<div data-ng-controller="characterCtrl" class="container-fluid">
	<div class="row">
		<h1 align="center"><b> {{character.name.toUpperCase()}} PROFILE </b></h1>
		<div class="col-md-6">
			<div class="thumbnail gray-thumbnail">
				<img src="{{character.medium_image}}" align="center">
			</div>
		</div>
		<div class="col-md-6">
			<div class="thumbnail gray-thumbnail">
				<p> Name: {{character.name}}</p>
		        <p> Aliases: {{character.aliases.split("\n").join(", ")}}</p>
		        <p> Birthday: {{character.birthday}} </p>
		        <p> Gender: {{character.gender == 0 ? 'NA' : (character.gender == 1 ? 'Male' : 'Female')}} </p>
		        <p> Description: {{character.deck}} </p>
				<p>First appearance in: <a href="#/game/{{character.first_appeared_in_game[0]}}"> {{character.first_appeared_in_game[1]}} </a> </p> 
			</div>
		</div>

		<!-- Fix this later
		<div class="col-md-12">
			<h1 align="center"><b> DETAILS </b></h1>
			<p ng-bind-html="character.description"> </p>
		</div> -->
	</div>
</div>