<div data-ng-controller="papersCtrl" data-ng-init="" class="container">
    <h1 align="center">Research Paper Trivia for {{year + 1831}}</h1>
    
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail gray-thumbnail">
                <p> 1). How many papers were published in the year of {{year + 1831}}?</p>
                <div ng-repeat="x in answerChoices.num_papers">
                    <input type="radio" name="num_papers" ng-model="$parent.num_papers" ng-value="x" /> {{x}}<br>
                </div>
                <p> 2). What country had the most journals in the year of {{year + 1831}}?</p>
                <div ng-repeat="x in answerChoices.top_country">
                    <input type="radio" name="top_country" ng-model="$parent.top_country" ng-value="x" /> {{x}}<br>
                </div>
                <p> 3). What was the top jounal in the year of {{year + 1831}}?</p>
                <div ng-repeat="x in answerChoices.top_journal track by $index">
                    <input type="radio" name="top_journal" ng-model="$parent.top_journal" ng-value="x" /> {{x}}<br>
                </div>
                <p> 4). What was the top subject in the year of {{year + 1831}}?</p>
                <div ng-repeat="x in answerChoices.top_subject track by $index">
                    <input type="radio" name="top_subject" ng-model="$parent.top_subject" ng-value="x" /> {{x}}<br>
                </div>
                <br>
                <div>
                    <button type="submit" class="btn btn-success">
                        <i class="icon-circle-arrow-right icon-large"></i> Submit
                    </button>
                </div>
                <br>
                <p>*These statistics on the journals in the year {{year + 1831}} were taken from researchpapers.me</p>
            </div>
        </div>
    </div>
</div>
