<div data-ng-controller="platformCtrl">
    <div class="row">
		<h1 align="center"><b> {{platform.name.toUpperCase()}}</b></h1>
		<div class="col-md-6">
			<div class="thumbnail gray-thumbnail">
				<img src="{{platform.medium_image}}" align="center">
			</div>
		</div>
		
		<div class="col-md-6">
			<div class="thumbnail gray-thumbnail">
				<p> Name: {{platform.name}}</p>
		        <p> Abbreviation: {{platform.abbreviations}}</p>
		        <p> Company: {{platform.company}} </p> 
				<p> Online Support: {{platform.online_support}} </p>
				<p> Original Price: ${{platform.starting_price}} </p>
				<p> Release Date: {{platform.release_date | date:"EEE, MMM dd, yyyy"}} </p>
				<p> Number of Units Sold: {{platform.install_base | number:0}} </p>
			</div>
		</div>

		<!-- Fix this later
		<div class="col-md-12">
			<h1 align="center"><b> DETAILS </b></h1>
			<p ng-bind-html="platform.description"> </p>
		</div> -->
	</div>
</div>