<div data-ng-controller="platformCtrl">
    <div class="row">
		<h1 align="center"><b> {{platform.name.toUpperCase()}}</b></h1>
		<div class="col-md-6">
			<img src="{{platform.image.super_url}}" align="center">
		</div>
		
		<div class="col-md-6">
			<p> Name: {{platform.name}}</p>
	        <p> Abbreviation: {{platform.abbreviation}}</p>
	        <p> Company: {{platform.company.name}} </p> 
			<p> Description: {{platform.deck}} </p>
			<p> Online Support: {{platform.online_support}} </p>
			<p> Original Price: ${{platform.original_price}} </p>
			<p> Release Date: {{platform.release_date}} </p>
		</div>

		<!-- Fix this later
		<div class="col-md-12">
			<h1 align="center"><b> DETAILS </b></h1>
			<p ng-bind-html="platform.description"> </p>
		</div> -->
	</div>
</div>