<h1>About</h1>

<p>Hmm, not much here.</p>
<p>Best get back to the <a href="/#/">home page</a>.</p>


<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="https://www.facebook.com/photo.php?fbid=10209113214101704&set=a.1513459930672.112007.1659645933&type=3&source=11" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="https://www.facebook.com/photo.php?fbid=10209496930557439&set=a.1585274829063.2084084.1151534650&type=3&source=11" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>            
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="https://www.facebook.com/photo.php?fbid=10207938796566694&set=a.1438849010140.2056561.1200451291&type=3&source=11" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>            
        </div>
        <div class="col-md-6">
            <div class="thumbnail">
                <img src="https://www.facebook.com/photo.php?fbid=10207938796566694&set=a.1438849010140.2056561.1200451291&type=3&source=11" alt="...">
                <div class="caption">
                    <h3>Thumbnail label</h3>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>            
        </div>
    </div> 
</div>