<div data-ng-controller="gamesCtrl" data-ng-init="init()" class="container">
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>#</th>
                <td>Name</td>
                <td>Release Date</td>
                <td>Genre</td>
                <td>Developer/Publisher</td>
                <td>Rating on First Release</td>
            </tr>            
        </thead>
        <tbody>
            <tr ng-repeat="x in names">
                <td>{{ x.Name }}</td>
                <td>{{ x.Country }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tbody>

    </table>
</div>
