<div data-ng-controller="gameCtrl" class="container-fluid">
	<div class="row">
		<h1 align="center"><b> {{game.name.toUpperCase()}}</b></h1>
		<div class="col-md-6">
			<img src="{{game.image.super_url}}" align="center">
		</div>
		
		<div class="col-md-6">
			<p> Name: {{game.name}}</p>
	        <p> Aliases: {{game.aliases.split("\r\n").join(", ")}}</p>
	        <p> Birthday: {{game.birthday}} </p>
	        <p> Gender: {{game.gender == 1 ? 'Male' : 'Female'}} </p>
	        <p> Description: {{game.deck}} </p>
			<p>First appearance in: <a href="#/game/{{game.first_appeared_in_game.id}}"> {{game.first_appeared_in_game.name}} </a> </p> 
			<p><span ng-repeat="friend in game.friends">
	    		{{$first ? 'Friends: ' : ''}}<a href="#/game/{{friend.id}}">{{friend.name}}</a>{{$last ? '' : ', '}}
			</span></p>
	        <p><span ng-repeat="enemy in game.enemies">
	    		{{$first ? 'Enemies: ' : ''}}<a href="#/game/{{enemy.id}}">{{enemy.name}}</a>{{$last ? '' : ', '}}
			</span></p>
		</div>

		<div class="col-md-12">
			<h1 align="center"><b> DETAILS </b></h1>
			<p ng-bind-html="game.description"> </p>
	</div>
</div>