<div data-ng-controller="platformsCtrl" data-ng-init="init()" class="container">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <td>Name</td>
                <td>Release Date</td>
                <td>Company</td>
                <td>Starting Price</td>
                <td>Number of Units Sold</td>
            </tr>            
        </thead>
        <tbody>
            <tr ng-repeat="x in platforms track by $index">
                <td>{{$index + 1}}</td>
                <td><a href="/#/platform/{{+x.id}}">{{ x.name }}</a></td>
                <td>{{ x.release_date }}</td>
                <td>{{ x.company.name }}</td>
                <td>{{ x.original_price }}</td>
                <td>{{ x.abbreviation }}</td>
            </tr>
            <!--<tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>-->
        </tbody>

    </table>
</div>
