<html>
  <head>
    <title>Angular QuickStart JS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/site.css">
    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="static/angular_packages/core-js/client/shim.min.js"></script>
    <script src="static/angular_packages/zone.js/dist/zone.js"></script>
    <script src="static/angular_packages/reflect-metadata/Reflect.js"></script>
    <script src="static/angular_packages/rxjs/bundles/Rx.js"></script>
    <script src="static/angular_packages/@angular/core/bundles/core.umd.js"></script>
    <script src="static/angular_packages/@angular/common/bundles/common.umd.js"></script>
    <script src="static/angular_packages/@angular/compiler/bundles/compiler.umd.js"></script>
    <script src="static/angular_packages/@angular/platform-browser/bundles/platform-browser.umd.js"></script>
    <script src="static/angular_packages/@angular/platform-browser-dynamic/bundles/platform-browser-dynamic.umd.js"></script>
    <!-- 2. Load our 'modules' -->
    <script src='/static/app/app.component.js'></script>
    <script src='/static/app/app.module.js'></script>
    <script src='/static/app/main.js'></script>
  </head>
  <!-- 3. Display the application -->
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>