<html ng-app="myApp">
  <head>
    <title>VGIDb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/site.css">
    <link rel="stylesheet" href="static/packages/bootstrap/css/bootstrap.min.css">
    <!-- 1. Load libraries -->
    <!-- IE required polyfill -->
    <script src="static/packages/underscore-min.js"></script>
    <script src="static/packages/angular-1.5.8/angular.min.js"></script>
    <script src="static/packages/angular-1.5.8/angular-route.min.js"></script>
    <script src="static/packages/angular-1.5.8/angular-sanitize.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.js"></script>
    <script src="static/packages/jquery-3.1.1.min.js"></script>
    <script src="static/packages/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/e311cb7092.js"></script>
    <script src="static/js/app.js"></script>
    <script src="static/js/controllers.js"></script>  
  </head>
  <!-- 3. Display the application -->
  <body class="override-bootstrap">
    <div ng-include="'static/partials/header.html'">
    </div>
    <div ng-view></div>
  </body>
</html>
